if !user
  li.dropdown.dropdown-user
    a(href='/login')
      i.fa.fa-user
      | &nbsp;Login
else
  li.dropdown.dropdown-user
    a.nav-link(data-toggle='dropdown').dropdown-toggle.link
      i.fas.fa-user
      span.ml-2 #{user.firstName} #{user.lastName}
        .dropdown-menu.dropdown-arrow.dropdown-menu-right.admin-dropdown-menu
          .dropdown-arrow
          .dropdown-header
            .admin-avatar
              i.fas.fa-user-graduate.fa-5x
            div
              - const year = new Date().getFullYear() - user.startYear + 1;
              h5.font-strong.text-white #{user.firstName} #{user.lastName}
              div
                span.admin-badge.mr-3
                  i.fas.fa-graduation-cap.mr-2
                  | An #{year}
                span.admin-badge
                  i.ti-lock.mr-2
                  | #{user.role.roleLevel}
          .admin-menu-features
            a.admin-features-item(href='javascript:;')
            a.admin-features-item(href='/users/me')
              i.ti-user
              span PROFILE
            a.admin-features-item(href='javascript:;')
          .admin-menu-content
            .d-flex.justify-content-between.mt-2
              a.text-muted(href='javascript:;')
              a.d-flex.align-items-center(href='/login/out')
                | Logout
                i.ti-shift-right.ml-2.font-20