extends ../../layout

block variables
  - var pageTitle = `${assignment.name}`
  - var pageUrl = `/assignments`

block plugins-styles
  +link('dropzone/dist/min/dropzone.min.css','plugin')
  +link('dropzone/dist/min/basic.min.css','plugin')

block plugins
  +script('dropzone/dist/min/dropzone.min.js', 'plugin')

block page-header
  .page-header
    .ibox.flex-1
      .ibox-body
        .flexbox
          .flexbox-b
            .ml-4.mr-5
              div
                span.btn-icon-only.btn-lg.font-20.mr-3(style=`background-color: ${generateColor(subject.name)}`) #{subject.name.substring(0, 2)}
            div
              h4 #{assignment.name}
              div
                span
                  span.badge.badge-primary.badge-circle.mr-2.mb-2.font-14(style='height:30px;width:30px')
                    i.fas.fa-chalkboard-teacher
                  | #{subject.name}
          .d-inline-flex
            .px-4.text-center
              .h5.mt-2 #{assignment.deadline.toLocaleString()}
              .text-muted.font-13 DEADLINE

block content
  .row
    .col-lg-8
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Descriere
          | #{assignment.description}
      if user.role.roleLevel === "STUDENT"
        if solution
          .ibox
            .ibox-head
              .ibox-title
                | Rezolvarea trimisa
            .ibox-body
              div.card.mb-2.mt-2
                .flexbox.border-success
                  .mr-2.ml-2
                    h6.mb-1 #{user.firstName} #{user.lastName}
                    .text-muted #{solution.createdAt.toLocaleString()}
                  .text-right
                    a(href=`/api/assignment-solutions/${solution._id.toHexString()}/download`)
                      button.btn.btn-outline-success.btn-fix.btn-thick.btn-air.btn-lg: span.btn-icon
                        i.fas.fa-file-download
                        | DESCARCA
        else
          .ibox
            .ibox-head
              .ibox-title
                | Incarca rezolvarea temei
            .ibox-body
              form#homework.dropzone(action=`/api/assignment-solutions/${assignment._id.toHexString()}`)
                .fallback: input(name='file', type='file', multiple='multiple')
              div.text-center.mt-4
                button#upload.btn.btn-outline-success.btn-fix.btn-thick.btn-air.btn-lg.hidden: span.btn-icon
                  i.fas.fa-file-upload
                  | TRIMITE
      if user.role.roleLevel === "PROFESSOR" || user.role.roleLevel === "ADMIN"
        .ibox
          .ibox-head
            .ibox-title
              | Solutiile studentilor
          .ibox-body
            if !solutions || !solutions.length
              h6.text-center Nu exista incarcari
            else
              each solution in solutions
                div.card.mb-2.mt-2
                  .flexbox.border-success
                    .mr-2.ml-2
                      a(href=`/users/${solution.student._id.toHexString()}`)
                        h6.mb-1 #{solution.student.firstName} #{solution.student.lastName}
                      .text-muted #{solution.createdAt.toLocaleString()}
                    .text-right
                      a(href=`/api/assignment-solutions/${solution._id.toHexString()}/download`)
                        button.btn.btn-outline-success.btn-fix.btn-thick.btn-air.btn-lg: span.btn-icon
                          i.fas.fa-file-download
                          | DESCARCA

    .col-lg-4
      .ibox
        .ibox-body
          a(href=`/api/assignments/${assignment._id.toHexString()}/download`)
            button.btn.btn-outline-success.btn-fix.btn-thick.btn-air.btn-lg(style='width:100%'): span.btn-icon
              i.fas.fa-file-download
              | DESCARCA
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Profesor
          ul.media-list.media-list-divider.mr-2
            li.media.align-items-center
              span.btn-icon-only.btn-blue.font-20.mr-3
                | #{subject.professor.firstName.substring(0, 1)}#{subject.professor.lastName.substring(0, 1)}
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading
                  a(href=`/users/${subject.professor._id.toHexString()}`) #{subject.professor.firstName} #{subject.professor.lastName}

block scripts
  script.
    var dz = new Dropzone("#homework", {
      paramName: "file",
      maxFilesize: 100,
      maxFiles: 1,
      autoProcessQueue: false,
      acceptedFiles: "application/zip,application/x-zip-compressed,application/x-7z-compressed,application/gzip,application/x-bzip2,application/x-bzip,application/vnd.rar,application/x-freearc,application/java-archive,application/x-tar",
      dictDefaultMessage: '<div class="text-center mb-3"><i class="la la-cloud-upload text-primary" style="font-size:50px"></i></div> <strong>Trage fisierul aici pentru a incarca, sau apasa click </strong>',
      error: function(file, response) {
        var previewElem = $(file.previewElement).addClass("dz-error");
        var errorElem = previewElem.find('.dz-error-message > span');
        if (typeof response === "string") {
          errorElem.text(response);
        } else {
          errorElem.text(response.message);
        }
      },
      init: function() {
        this.on("addedfile", function(file){
          $("#upload").show();
          var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn btn-danger btn-sm btn-block'>Remove</a>");
          var _this = this;
          removeButton.addEventListener("click", function(e) {
            e.preventDefault();
            e.stopPropagation();
            _this.removeFile(file);
          });
          file.previewElement.appendChild(removeButton);
        });

        this.on("success", function() {
          window.location.reload();
        })

        this.on("removedfile", function(file) {
          $("#upload").hide();
        });
      }
    })

    $("#upload").on("click", function() {
      dz.processQueue();
    });
