extends ../../layout

block variables
  - var pageTitle = `Teme`
  - var pageUrl = `/assignments`

block content
  .row
    if assignments && assignments.length > 0
      each assignment in assignments
        .col-md-6
          .ibox.ibox-fullheight
            .ibox-body
              a.card(href=`/assignments/${assignment._id}`)
                .flexbox.border-success
                  span.btn-icon-only.btn-lg.font-20.mr-3(style=`background-color: ${generateColor(assignment.subject.name)}`) #{assignment.subject.name.substring(0, 2)}
                  .text-center.mr-2.ml-2
                    h6.mb-1 #{assignment.name}
                    span.text-muted.mb-1 #{assignment.subject.name}
                  .text-right
                    h6.text-primary.m-0 #{assignment.deadline.toLocaleString()}
                    span.text-muted DEADLINE
    else
      .col-md-12
        .ibox.ibox-fullheight
          .ibox-body
            h3.text-center Nu exista teme
