include config
include vars
include mixins
block variables

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width initial-scale=1.0")
        title #{pageTitle} | Virtual Classroom
        // GLOBAL MAINLY STYLES
        +link('bootstrap/dist/css/bootstrap.min.css', 'plugin')
        +link('font-awesome/css/all.min.css', 'plugin', 'async')
        +link('line-awesome/css/line-awesome.min.css', 'plugin', 'async')
        +link('themify-icons/css/themify-icons.css', 'plugin', 'async')
        +link('bootstrap-select/dist/css/bootstrap-select.min.css','plugin', 'async')
        // PLUGINS STYLES
        block plugins-styles
        // THEME STYLES
        +link('/assets/css/main.min.css')
        +link('/assets/css/themes/dark-blue.min.css')
        // PAGE LEVEL STYLES
        block page_styles
    body.boxed-layout(class=body_class)
        .page-wrapper
            // START HEADER
            include blocks/header
            // END HEADER
            // START SIDEBAR
            include blocks/sidebar.pug
            // END SIDEBAR
            .wrapper.content-wrapper
                // START PAGE CONTENT
                if page_heading
                    .page-heading
                        h1.page-title= page_heading
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href=HOME.url): i.la.la-home.font-20
                            each p in path
                                li.breadcrumb-item= p
                block page-header
                .page-content.fade-in-up
                    block content
                // END PAGE CONTENT
                //include blocks/footer
        //include blocks/search-form

            // BEGIN PAGA BACKDROPS
        div.sidenav-backdrop.backdrop
        div.preloader-backdrop
            div.page-preloader Spinning
        // END PAGA BACKDROPS

        //useless stuff for now
        //include blocks/timeout-modal.pug
        //include blocks/quick-sidebar.pug
        // CORE PLUGINS
        +script('jquery/dist/jquery.min.js', 'plugin')
        +script('popper.js/dist/umd/popper.min.js', 'plugin')
        +script('bootstrap/dist/js/bootstrap.min.js', 'plugin')
        +script('jquery-validation/dist/jquery.validate.min.js', 'plugin')
        +script('bootstrap-select/dist/js/bootstrap-select.min.js', 'plugin')
        // PAGE LEVEL PLUGINS
        block plugins
        // CORE SCRIPTS
        +script('/assets/js/app.min.js')
        // PAGE LEVEL SCRIPTS
        block scripts
        script.
            jQuery.extend(jQuery.validator.messages, {
                required: "Acest camp este necesar",
                email: "Adresa de email invalida",
                url: "URL invalid",
                date: "Data este invalida",
                number: "Introduceti un numar valid",
                digits: "Introduceti doar cifre",
                equalTo: "Introduceti aceeasi valoare din nou",
                maxlength: jQuery.validator.format("Introduceti maxim {0} caractere."),
                minlength: jQuery.validator.format("Introduceti cel putin {0} caractere."),
                rangelength: jQuery.validator.format("Introduceti o valoare intre {0} si {1} caractere."),
                range: jQuery.validator.format("Introduceti o valoare intre {0} si {1}."),
                max: jQuery.validator.format("Introduceti o valoare mai mica sau egala cu {0}."),
                min: jQuery.validator.format("Introduceti o valoare mai mare sau egala cu {0}.")
            });
