- var HOME = {'url': '/', 'name': 'Acasa'}
-
    var MENU = [
        {
            "name": "Orar",
            "icon": "fas fa-clock",
            "url": "/",
            role: 1
        },
        {
            "name": "Materii",
            "icon": "fas fa-chalkboard-teacher",
            "url": "/subjects",
            role: 1
        },
        {
            "name": "Teme",
            "icon": "fas fa-book-open",
            "url": "/assignments",
            role: 1
        },
    ]
