extends ../layout.pug

block variables
    - var pageTitle = 'Forgot Password'
    - var pageUrl = '/login/forgot-password'

block content
    .row.login-content
        .col-12.bg-white
            .text-center
                span.auth-head-icon
                    i.ti-lock.timeout-icon
            .ibox.m-0(style='box-shadow: none;')
                form#forgot-password-form.ibox-body(action=`/login/forgot-password/${sesh._id}`, method='POST')
                    h4.font-strong.text-center.mb-5 Recuperare parola
                    if login_error
                        .alert.alert-pink.alert-dismissable.fade.show.alert-outline.has-icon
                            i.la.la-info-circle.alert-icon
                            button.close(data-dismiss='alert', aria-label='Close')
                            strong #{login_error.header}
                            br
                            | #{login_error.body}
                    if login_success
                        .alert.alert-success.alert-dismissable.fade.show.alert-outline.has-icon
                            i.la.la-info-circle.alert-icon
                            button.close(data-dismiss='alert', aria-label='Close')
                            strong #{login_success.header}
                            br
                            | #{login_success.body}
                    .form-group.mb-4
                        div.input-group-icon.input-group-icon-right
                            span.toggle-password.input-icon.input-icon-right(style='cursor:pointer')
                                i.fas.fa-eye
                            input.form-control.form-control-air#password(type='password', name='password', placeholder='Parola', autocomplete='new-password')
                    .form-group.mb-4
                        div.input-group-icon.input-group-icon-right
                            span.toggle-password.input-icon.input-icon-right(style='cursor:pointer')
                                i.fas.fa-eye
                            input.form-control.form-control-air#newPassword(type='password', name='newPassword', placeholder='Parola din nou', autocomplete='new-password')
                    .text-center
                        button.btn.btn-primary.btn-rounded.btn-block.btn-air TRIMITE

block page_styles
    style.
        .login-content {
            max-width: 500px;
            margin: 100px auto 50px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }
        .auth-head-icon {
            position: relative;
            height: 60px;
            width: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            background-color: #fff;
            color: #5c6bc0;
            box-shadow: 0 5px 20px #d6dee4;
            border-radius: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }

block scripts
    script.
        $(function(){
            $('#forgot-password-form').validate({
                errorClass:"help-block",
                rules: {
                    password: { required: true },
                    newPassword: {
                        required: true,
                        equalTo: "#password"
                    }
                },
                highlight:function(e){$(e).closest(".form-group").addClass("has-error")},
                unhighlight:function(e){$(e).closest(".form-group").removeClass("has-error")},
            });
        });
