extends ../layout.pug

block variables
  - var pageTitle = 'Home'
  - var pageUrl = '/'

block plugins-styles
    +link('fullcalendar/dist/fullcalendar.min.css', 'plugin')
    +link('fullcalendar/dist/fullcalendar.print.min.css', 'plugin')(media='print')

block plugins
    +script('moment/min/moment.min.js', 'plugin')
    +script('fullcalendar/dist/fullcalendar.min.js', 'plugin')
    +script('fullcalendar/dist/locale/ro.js', 'plugin')

block content
    .row
        .col-md-12
            .ibox
                .ibox-head
                    .ibox-title ORAR
                .ibox-body
                    #calendar

block scripts
    script.
      $(function () {
        const calendar = $('#calendar');
        calendar.fullCalendar({
          timeZone: 'UTC',
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,listWeek'
          },
          defaultView: 'agendaWeek',
          lang: 'ro',
          events: `/api/faculty/timetable/#{faculty._id.toHexString()}`,
          eventClick: function fEventClick(event) {
            console.log(event)
            window.location.href = `/subjects/${event.id}`
          },
          editable: false,
          firstDay: 1,
          droppable: false, // this allows things to be dropped onto the calendar
          navLinks: true, // can click day/week names to navigate views
          eventLimit: true, // allow "more" link when too many events
          selectable: false,
          height: "100%"
        });

        const currentDate = new Date();
        calendar.fullCalendar('gotoDate', currentDate);
      });