extends ../layout-simple.pug

block variables
    - var pageTitle = 'Login'
    - var pageUrl = '/login'
    - var body_class = 'bg-scolaresc-blu'
    - function getInputValue(key) { if (!postData) { return ""; } else if (!postData[key]) { return ""; } else { return postData[key]; } }

block content
    .row.login-content
        .col-12.bg-white
            .text-center
                span.auth-head-icon
                    i.la.la-user
            .ibox.m-0(style='box-shadow: none;')
                form#login-form.ibox-body(action='/login', method='POST')
                    h4.font-strong.text-center.mb-5 LOG IN
                    .form-group.mb-4
                        input.form-control.form-control-air(type='text', name='identifier', placeholder='Username', value=getInputValue("identifier"))
                        if error && error.identifier
                            span.help-block.text-danger #{error.identifier}
                    .form-group.mb-4
                        div.input-group-icon.input-group-icon-right
                            span.toggle-password.input-icon.input-icon-right(style='cursor:pointer')
                                i.fas.fa-eye
                            input.form-control.form-control-air(type='password', name='password', placeholder='Parola')
                    .flexbox.mb-5
                        label.checkbox.checkbox-primary
                            input(name='remember', type='checkbox' checked)
                            span.input-span
                            |  Remember
                        a.text-primary#forgot-password Ai uitat parola?
                    .text-center
                        button.btn.btn-primary.btn-rounded.btn-block.btn-air LOGIN
    .modal.fade#forgot-password-modal
        .modal-dialog(style="width:400px" role="document")
            .modal-content.timeout-modal
                .modal-body
                    button.close(data-dismiss="modal" aria-label="Close")
                    .text-center.mt-3.mb-4: i.ti-lock.timeout-icon
                    .text-center.h4.mb-3 Am uitat parola
                    p.text-center.mb-4 Introduceti adresa de email asociata contului.
                        form#forgot-password-form(action='/login/forgot-password', method='POST')
                            .form-group.pl-3.pr-3.mb-4
                                input.form-control.form-control-line(type="text" name='email' placeholder="Email")
                            .form-group.text-center: button.btn.btn-primary.btn-rounded.btn-block.btn-air Trimite

block page_styles
    style.
        .login-content {
            max-width: 500px;
            margin: 100px auto 50px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }
        .auth-head-icon {
            position: relative;
            height: 60px;
            width: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            background-color: #fff;
            color: #5c6bc0;
            box-shadow: 0 5px 20px #d6dee4;
            border-radius: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }

block scripts
    script.
        $(function(){
            $('#login-form').validate({
                errorClass:"help-block",
                rules: {
                    email: {required:true,email:true},
                    password: {required:true}
                },
                highlight:function(e){$(e).closest(".form-group").addClass("has-error")},
                unhighlight:function(e){$(e).closest(".form-group").removeClass("has-error")},
            });

            $('#forgot-password-form').validate({
                errorClass: "help-block",
                rules: {
                    email: {required: true, email: true}
                },
                highlight: function (e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function (e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });

            $("#forgot-password").on("click", function(){
                $('#forgot-password-modal').modal('show');
            });

            $(".toggle-password").on("click", function() {
                const input = $(this).siblings("input");
                if (input.prop("type") === "password") {
                  input.attr("type", "text");
                } else {
                  input.attr("type", "password");
                }
            })
        });
