extends ../layout

block variables
  - var pageTitle = 'Badges & Progress'
  - var pageUrl = 'badges_progress.html'
  - var page_heading = 'Badges & Progress'
  - var path = ['Basic UI', 'badges & Progress']

block content
  .row.badge-list-demo
    .col-lg-6
      +panel(title='Badges')
        p
          span.badge.badge-primary PRIMARY
          span.badge.badge-default DEFAULT
          span.badge.badge-info INFO
          span.badge.badge-success SUCCESS
          span.badge.badge-warning WARNING
          span.badge.badge-danger DANGER
          span.badge.badge-blue BLUE
          span.badge.badge-pink PINK
        p
          span.badge.badge-default 9
          span.badge.badge-primary NEW
          span.badge.badge-info 7
          span.badge.badge-success 8
          span.badge.badge-warning 145
          span.badge.badge-danger VIP
        h6.mt-4.mb-4 Pill Badges
        span.badge.badge-primary.badge-pill PRIMARY
        span.badge.badge-default.badge-pill DEFAULT
        span.badge.badge-info.badge-pill INFO
        span.badge.badge-success.badge-pill SUCCESS
        span.badge.badge-warning.badge-pill WARNING
        span.badge.badge-danger.badge-pill DANGER
        span.badge.badge-blue.badge-pill BLUE
        span.badge.badge-pink.badge-pill PINK
        h6.mt-4.mb-4 Circle Badges
        span.badge.badge-primary.badge-circle 4
        span.badge.badge-default.badge-circle 9
        span.badge.badge-pink.badge-circle 1
        span.badge.badge-info.badge-circle 7
        span.badge.badge-success.badge-circle 8
        span.badge.badge-warning.badge-circle 4
        span.badge.badge-danger.badge-circle 1
        span.badge.badge-blue.badge-circle 3
        h6.mt-4.mb-4 Point Badges
        span.badge-primary.badge-point
        span.badge-pink.badge-point
        span.badge-info.badge-point
        span.badge-success.badge-point
        span.badge-warning.badge-point
        span.badge-danger.badge-point
        span.badge-blue.badge-point
        span.badge-default.badge-point

    .col-lg-6
      +panel(title='Progress Bars')
        .progress.mb-4
            .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
        .progress.mb-4
            .progress-bar.bg-pink(role='progressbar', aria-valuenow='35', aria-valuemin='0', aria-valuemax='100', style='width:35%;') 35%
        .progress.mb-4
            .progress-bar.bg-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
        .progress.mb-4
            .progress-bar.bg-info(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100') 50%
        .progress.mb-4
            .progress-bar.bg-warning(role='progressbar', style='width:75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
        .progress.mb-4
            .progress-bar.bg-blue(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
        .progress.mb-4
            .progress-bar.bg-danger(role='progressbar', aria-valuenow='30', aria-valuemin='0', aria-valuemax='100', style='width:30%;') 30%
        h6.mt-4.mb-4 Sizing
        .progress.mb-4
            .progress-bar.progress-bar-warning(role='progressbar', style='width:75%; height:10px', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
        .progress.mb-4
            .progress-bar.progress-bar-danger(role='progressbar', style='width:50%; height:4px', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
        h6.mt-4.mb-4 Striped
        .progress.mb-4
            .progress-bar.progress-bar-success.progress-bar-striped(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
        .progress.mb-4
            .progress-bar.progress-bar-info.progress-bar-striped(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
        h6.mt-4.mb-4 Animated
        .progress.mb-4
            #ex-progress.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%')
        button#btn-toggle-progress.btn.btn-pink(data-toggle='button') Toggle animation
        h6.mt-4.mb-4 Stacked
        .progress.mb-4
            .progress-bar.progress-bar-success(style='width:35%')
                span.sr-only 35% Complete (success)
            .progress-bar.progress-bar-warning(style='width:20%')
                span.sr-only 20% Complete (warning)
            .progress-bar.progress-bar-danger(style='width:10%')
                span.sr-only 10% Complete (danger)
        h6.mt-4.mb-4 Vertical
        .row
            .col-sm-6.mb-4(style='height:180px;')
                .progress.progress-vertical
                    .progress-bar(role='progressbar', style='height: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                .progress.progress-vertical
                    .progress-bar(role='progressbar', style='height: 40%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                .progress.progress-vertical
                    .progress-bar(role='progressbar', style='height: 65%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                .progress.progress-vertical
                    .progress-bar(role='progressbar', style='height: 85%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
            .col-sm-6.mb-4(style='height:180px;')
                .progress.progress-vertical.progress-bottom
                    .progress-bar.bg-success(role='progressbar', style='height: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                .progress.progress-vertical.progress-bottom
                    .progress-bar.bg-pink(role='progressbar', style='height: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
                .progress.progress-vertical.progress-bottom
                    .progress-bar.bg-warning.progress-bar-striped.active(role='progressbar', style='height: 65%', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
                .progress.progress-vertical.progress-bottom
                    .progress-bar.bg-danger(role='progressbar', style='height: 85%', aria-valuenow='50', aria-valuemin='85', aria-valuemax='100')
        div(style='height:150px;')
            .progress.progress-vertical.progress-bottom.progress-wide
                .progress-bar.bg-danger(role='progressbar', style='height: 85%', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100') 85%
            .progress.progress-vertical.progress-bottom.progress-wide
                .progress-bar.bg-info(role='progressbar', style='height: 65%', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100') 65%
            .progress.progress-vertical.progress-bottom.progress-wide
                .progress-bar(role='progressbar', style='height: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100') 40%
            .progress.progress-vertical.progress-bottom.progress-wide
                .progress-bar.bg-success(role='progressbar', style='height: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100') 25%

block scripts
  script.
    $(function(){
      $('#btn-toggle-progress').click(function(){
        $('#ex-progress').toggleClass('progress-bar-animated');
      });
    });

block page_styles
  style.
    .badge-list-demo [class*='badge-'] {margin-bottom:15px;margin-right:5px;}
