extends ../layout

block variables
  - var pageTitle = 'Default Style Buttons'
  - var pageUrl = 'buttons-default.html'
  - var page_heading = 'Default Style Buttons'
  - var path = ['Buttons','Default Style']

block content
  .row.btn-list-demo
    .col-md-6
      +panel('Base Buttons')
        .mb-4 Base State Buttons
        button.btn.btn-primary Primary
        button.btn.btn-secondary Secondary
        button.btn.btn-pink Pink
        button.btn.btn-success Success
        button.btn.btn-info Info
        button.btn.btn-warning Warning
        button.btn.btn-danger Danger
        button.btn.btn-blue Blue
        button.btn.btn-link Link
        .mt-3.mb-2 Long style
        p Add class <code>.btn-fix</code> for the minimum fixed width
        button.btn.btn-primary.btn-fix Primary
        button.btn.btn-secondary.btn-fix Secondary
        button.btn.btn-pink.btn-fix Pink
        button.btn.btn-success.btn-fix Success
        button.btn.btn-info.btn-fix Info
        button.btn.btn-warning.btn-fix Warning
        button.btn.btn-danger.btn-fix Danger
        button.btn.btn-blue.btn-fix Blue
        .mt-4.mb-4 Gradient Buttons
        button.btn.btn-gradient-purple.btn-fix PURPLE
        button.btn.btn-gradient-peach.btn-fix PEACH
        button.btn.btn-gradient-aqua.btn-fix AQUA
        button.btn.btn-gradient-blue.btn-fix BLUE
        button.btn.btn-gradient-silver.btn-fix SILVER
        button.btn.btn-gradient-lime.btn-fix LIME
        button.btn.btn-gradient-blue-pink.btn-fix BLUE-PINK
        button.btn.btn-gradient-blue2.btn-fix BLUE 2
      +panel('Outline Buttons')
        button.btn.btn-outline-primary Primary
        button.btn.btn-outline-secondary Secondary
        button.btn.btn-outline-success Success
        button.btn.btn-outline-info Info
        button.btn.btn-outline-warning Warning
        button.btn.btn-outline-danger Danger
        button.btn.btn-outline-blue Blue
        button.btn.btn-outline-pink Pink
        .mb-4.mt-3 Long style
        button.btn.btn-outline-primary.btn-fix Primary
        button.btn.btn-outline-secondary.btn-fix Secondary
        button.btn.btn-outline-success.btn-fix Success
        button.btn.btn-outline-info.btn-fix Info
        button.btn.btn-outline-warning.btn-fix Warning
        button.btn.btn-outline-danger.btn-fix Danger
        button.btn.btn-outline-blue.btn-fix Blue
        button.btn.btn-outline-pink.btn-fix Pink
        .mt-4.mb-2 Thick style
        p Add class <code>.btn-thick</code> for the thick border
        button.btn.btn-outline-primary.btn-fix.btn-thick Primary
        button.btn.btn-outline-secondary.btn-fix.btn-thick Secondary
        button.btn.btn-outline-success.btn-fix.btn-thick Success
        button.btn.btn-outline-info.btn-fix.btn-thick Info
        button.btn.btn-outline-warning.btn-fix.btn-thick Warning
        button.btn.btn-outline-danger.btn-fix.btn-thick Danger
        button.btn.btn-outline-blue.btn-fix.btn-thick Blue
        button.btn.btn-outline-pink.btn-fix.btn-thick Pink
      +panel('Block Buttons')
        p add class <code>.btn-block</code> for  block level buttons.
        button.btn.btn-info.btn-block Block Button
        button.btn.btn-primary.btn-block Block Button
        button.btn.btn-gradient-purple.btn-block Block Button
        button.btn.btn-outline-default.btn-block Block Button
        button.btn.btn-outline-pink.btn-block Block Button
    .col-md-6
      +panel('Button Sizes')
        p Add class <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.
        button.btn.btn-primary.btn-lg Large Button
        button.btn.btn-info.btn-lg Large Button
        button.btn.btn-outline-pink.btn-lg Large Button
        button.btn.btn-secondary.btn-lg Large Button
        .mt-4.mb-4 Default size
        button.btn.btn-primary Default Button
        button.btn.btn-info Default Button
        button.btn.btn-outline-pink Default Button
        button.btn.btn-secondary Default Button
        .mt-4.mb-4 Small size
        button.btn.btn-primary.btn-sm Small Button
        button.btn.btn-info.btn-sm Small Button
        button.btn.btn-outline-pink.btn-sm Small Button
        button.btn.btn-secondary.btn-sm Small Button
      +panel('Button States')
        .mt-4.mb-4 Default state
        button.btn.btn-secondary Default
        button.btn.btn-success Default
        button.btn.btn-info Default
        button.btn.btn-warning Default
        button.btn.btn-primary Default
        button.btn.btn-pink Default
        .mt-4.mb-4 Active state
        button.btn.btn-secondary.active Active
        button.btn.btn-success.active Active
        button.btn.btn-info.active Active
        button.btn.btn-warning.active Active
        button.btn.btn-primary.active Active
        button.btn.btn-pink.active Active
        .mt-4.mb-4 Disabled state
        button.btn.btn-secondary(disabled) Disabled
        button.btn.btn-success(disabled) Disabled
        button.btn.btn-info(disabled) Disabled
        button.btn.btn-warning(disabled) Disabled
        button.btn.btn-primary(disabled) Disabled
        button.btn.btn-pink(disabled) Disabled
      +panel('Checkbox and radio buttons')
        .mt-4.mb-4 Toggle State
        button.btn.btn-info(data-toggle='button')
          span.active-hidden
            span.btn-icon
              i.la.la-cloud-upload
              | Upload
          span.active-visible
            span.btn-icon
              i.ti-check
              | Uploaded
        button.btn.btn-pink(data-toggle='button')
          span.active-hidden Follow
          span.active-visible
            span.btn-icon
              i.ti-heart-broken
              | Unfollow
        button.btn.btn-primary.btn-icon-only.btn-circle(data-toggle='button')
          span.active-hidden
            i.la.la-music
          span.active-visible
            i.la.la-pause

        .mt-4.mb-4 Checkbox buttons
        .btn-group(data-toggle='buttons')
            label.btn.btn-info
                | CHECKBOX 1
                input(type='checkbox')
            label.btn.btn-info
                | CHECKBOX 2
                input(type='checkbox')
            label.btn.btn-info
                | CHECKBOX 3
                input(type='checkbox')
        .mt-4.mb-4 Radio buttons
        .btn-group.mb-4(data-toggle='buttons')
            label.btn.btn-primary
                | RADIO 1
                input(type='radio')
            label.btn.btn-primary.active
                | RADIO 2
                input(type='radio', checked='')
            label.btn.btn-primary
                | RADIO 3
                input(type='radio')
        .btn-group(data-toggle='buttons')
            label.btn.btn-outline-pink
                i.ti-check.active-visible
                |  Male
                input(type='radio')
            label.btn.btn-outline-pink
                i.ti-check.active-visible
                |  Female
                input(type='radio')
            label.btn.btn-outline-pink
                i.ti-check.active-visible
                |  N/A
                input(type='radio')

block page_styles
  style.
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical) > .btn {margin-bottom:15px;margin-right:5px;}
