extends ../layout

block variables
  - var pageTitle = 'Animated Buttons'
  - var pageUrl = 'button-animated.html'
  - var page_heading = 'Animated Buttons'
  - var path = ['Buttons', 'Animated Buttons']

block content
  .row.btn-list-demo
    .col-12
      +panel('Animated Buttons')
        .mt-4.mb-4 Fade effect
        button.btn.btn-info.btn-lg.btn-animated.fade-button
          span.visible-content Subscribe to me
          span.hidden-content
            | $8.99 
            small / month
        button.btn.btn-gradient-purple.btn-lg.btn-animated.fade-button
          span.visible-content Adminca Pro Plan
          span.hidden-content
            span.btn-icon
              i.ti-shopping-cart
              | Add To Cart
        button.btn.btn-pink.btn-lg.btn-animated.fade-button
          span.visible-content.btn-icon
            i.ti-heart
            | Follow me
          span.hidden-content I Love You
        button.btn.btn-gradient-blue.btn-lg.btn-animated.fade-button
          span.visible-content.btn-icon
            i.ti-music
            | Play Music
          span.hidden-content
            span.btn-icon
              i.ti-face-smile
              | Be Happy
        .mt-4.mb-4 From top
        button.btn.btn-pink.btn-animated.from-top
          span.visible-content: i.ti-heart.font-16.v-middle
          span.hidden-content Like
        button.btn.btn-primary.btn-animated.from-top
          span.visible-content: i.ti-shopping-cart.font-16.v-middle
          span.hidden-content Buy
        button.btn.btn-success.btn-animated.from-top
          span.visible-content: i.la.la-user-plus.font-18.v-middle
          span.hidden-content Add
        .mt-4.mb-4 From left
        button.btn.btn-primary.btn-fix.btn-animated.from-left
          span.visible-content Admin Template
          span.hidden-content
            span.btn-icon
              | View Demo
              i.ti-arrow-circle-right.pr-0.pl-2
        button.btn.btn-pink.btn-fix.btn-animated.from-left
          span.visible-content Admin Template
          span.hidden-content
            span.btn-icon
              i.la.la-cloud-download
              | Download

block page_styles
  style.
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical) > .btn, .btn-group {margin-bottom:15px;margin-right:5px;}
