extends ../layout

block variables
  - var pageTitle = 'Peity Charts'
  - var pageUrl = 'charts_peity.html'
  - var page_heading = 'Peity Charts'
  - var path = ['Charts', 'Peity Charts']

block plugins
  +script('peity/jquery.peity.min.js', 'plugin')

block content
    .alert.alert-success.alert-bordered
        p
            | Peity (sounds like deity) is a jQuery plugin that converts an element's content into a &lt;svg> mini pie  donut  line  or bar chart.
        p
            a.btn.btn-success(href='https://github.com/benpickles/peity', target='_blank') Official Website
    +panel('Peity Charts')
      table.table
        thead
          tr
            th Graph
            th Code
        tbody
            tr
                td
                    span.pie 2/8
                td
                    code &lt;span class="pie">2/8&lt;/span>
            tr
                td
                    span.pie 120/200
                td
                    code &lt;span class="pie">120/200&lt;/span>
            tr
                td
                    span.pie 0.5/1.5
                td
                    code &lt;span class="pie">0.5/1.5&lt;/span>
            tr
                td
                    span.pie(data-peity='{"radius": 10 }') 1/3
                td
                    code &lt;span class="pie" data-peity='{"radius": 20 }'>1/3&lt;/span>
            tr
                td
                    span.pie(data-peity='{"radius": 15 }') 1,2
                td
                    code &lt;span class="pie" data-peity='{"radius": 15 }'>1,2&lt;/span>
            tr
                td
                    span.donut 1/5
                td
                    code &lt;span class="donut">1/5&lt;/span>
            tr
                td
                    span.donut 226/360
                td
                    code &lt;span class="donut">226/360&lt;/span>
            tr
                td
                    span.updating-chart 5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2
                td
                    code &lt;span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2&lt;/span>
            tr
                td
                    span.line 5,3,9,6,5,9,7,3,5,2
                td
                    code &lt;span class="line">5,3,9,6,5,9,7,3,5,2&lt;/span>
            tr
                td
                    span.line 5,3,2,-1,-3,-2,2,3,5,2
                td
                    code &lt;span class="line">5,3,2,-1,-3,-2,2,3,5,2&lt;/span>
            tr
                td
                    span.line 0,-3,-6,-4,-5,-4,-7,-3,-5,-2
                td
                    code &lt;span class="line">0,-3,-6,-4,-5,-4,-7,-3,-5,-2&lt;/span>
            tr
                td
                    span.bar 5,3,9,6,5,9,7,3,5,2
                td
                    code &lt;span class="bar">5,3,9,6,5,9,7,3,5,2&lt;/span>
            tr
                td
                    span.bar 5,3,2,-1,-3,-2,2,3,5,2
                td
                    code &lt;span class="bar">5,3,2,-1,-3,-2,2,3,5,2&lt;/span>
            tr
                td
                    span.bar 0,-3,-6,-4,-5,-4,-7,-3,-5,-2
                td
                    code &lt;span class="bar">0,-3,-6,-4,-5,-4,-7,-3,-5,-2&lt;/span>

block scripts
  script.
    $(function(){
        $("span.pie").peity("pie", {
            fill: ['#18C5A9', '#d1d5d8', '#ffffff']
        });

        $(".line").peity("line",{
            fill: '#18C5A9',
            stroke:'#16b59b',
        });

        $(".bar").peity("bar", {
            fill: ["#18C5A9", "#d1d5d8"]
        });

        $(".bar_dashboard").peity("bar", {
            fill: ["#18C5A9", "#d1d5d8"],
            width:100
        });

        $(".donut").peity("donut", {
            fill: ["#18C5A9", "#d1d5d8"]
        });

        var updatingChart = $(".updating-chart").peity("line", { fill: '#18C5A9',stroke:'#16b59b', width: 64 })

        setInterval(function() {
            var random = Math.round(Math.random() * 10)
            var values = updatingChart.text().split(",")
            values.shift()
            values.push(random)

            updatingChart
                .text(values.join(","))
                .change()
        }, 1000);
    })
