extends ../layout

block variables
  - var pageTitle = 'Chart.js'
  - var pageUrl = 'chartjs.html'
  - var page_heading = 'Chart.js'
  - var path = ['Charts', 'Chart.js']

block plugins
  +script('chart.js/dist/Chart.min.js', 'plugin')

block scripts
  +script('chartjs_demo.js', 'page')

block content
    .alert.alert-primary.alert-bordered
        p Simple yet flexible JavaScript charting for designers & developers.
        p
            a.btn.btn-primary(href='http://www.chartjs.org/', target='_blank') Official Website
    .row
      .col-md-6
        +panel('Line Chart')
          div: canvas#line_chart(style='height:200px')
      .col-md-6
        +panel('Bar Chart')
          div: canvas#bar_chart(style='height:200px')
    .row
      .col-md-6
        +panel('Polar Area')
          div: canvas#polar_chart(style='height:200px')
      .col-md-6
        +panel('Doughnut Chart')
          div: canvas#doughnut_chart(style='height:200px')
    +panel('Radar Chart')
      div: canvas#radar_chart(style='height:200px')
