extends ../layout

block variables
  - var pageTitle = 'Colors'
  - var pageUrl = 'colors.html'
  - var page_heading = 'Colors'
  - var path = ['Basic UI', 'Colors']

block content
  +panel(title='Main Colors list', tools={'collapse':1})
      .row
        .col-sm-2
            .color-box
                .color-view.bg-primary
                .color-name
                    | Primary 
                    small #5C6BC0
        .col-sm-2
            .color-box
                .color-view.bg-success
                .color-name
                    | Success 
                    small #18C5A9
        .col-sm-2
            .color-box
                .color-view.bg-info
                .color-name
                    | Info 
                    small #2CC4CB
        .col-sm-2
            .color-box
                .color-view.bg-warning
                .color-name
                    | Warning 
                    small #F39C12
        .col-sm-2
            .color-box
                .color-view.bg-danger
                .color-name
                    | Danger 
                    small #f75a5f
      .row
        .col-sm-2
            .color-box
                .color-view.bg-secondary
                .color-name
                    | Secondary 
                    small #bdc3c7
        .col-sm-2
            .color-box
                .color-view.bg-pink
                .color-name
                    | Pink
                    small #FF4081
        .col-sm-2
            .color-box
                .color-view(style='background-color:#34495f')
                .color-name
                    | Ebony 
                    small #34495f
        .col-sm-2
            .color-box
                .color-view(style='background:#7536e6')
                .color-name
                    | Bright purple 
                    small #7536e6
        .col-sm-2
            .color-box
                .color-view.bg-blue
                .color-name
                    | Blue 
                    small #3498DB
  
  +panel('Colors Palette')
    .row
      .col-lg-6.mb-5
        .bg-primary-800.color-palette
          div
            | .bg-primary-800
            span.pull-right 800
        .bg-primary-700.color-palette
          div
            | .bg-primary-700
            span.pull-right 700
        .bg-primary-600.color-palette
          div
            | .bg-primary-600
            span.pull-right 600
        .bg-primary.color-palette
          div
            | .bg-primary-500
            span.pull-right Base 500
        .bg-primary-400.color-palette
          div
            | .bg-primary-400
            span.pull-right 400
        .bg-primary-300.color-palette
          div
            | .bg-primary-300
            span.pull-right 300
        .bg-primary-200.color-palette
          div
            | .bg-primary-200
            span.pull-right 200
        .bg-primary-100.color-palette
          div
            | .bg-primary-100
            span.pull-right 100
        .bg-primary-50.color-palette.color-inherit
          div
            | .bg-primary-50
            span.pull-right 50
      .col-lg-6.mb-5
        .bg-success-800.color-palette
          div
            | .bg-success-800
            span.pull-right 800
        .bg-success-700.color-palette
          div
            | .bg-success-700
            span.pull-right 700
        .bg-success-600.color-palette
          div
            | .bg-success-600
            span.pull-right 600
        .bg-success.color-palette
          div
            | .bg-success-500
            span.pull-right Base 500
        .bg-success-400.color-palette
          div
            | .bg-success-400
            span.pull-right 400
        .bg-success-300.color-palette
          div
            | .bg-success-300
            span.pull-right 300
        .bg-success-200.color-palette
          div
            | .bg-success-200
            span.pull-right 200
        .bg-success-100.color-palette
          div
            | .bg-success-100
            span.pull-right 100
        .bg-success-50.color-palette.color-inherit
          div
            | .bg-success-50
            span.pull-right 50
      .col-lg-6.mb-5
        .bg-pink-800.color-palette
          div
            | .bg-pink-800
            span.pull-right 800
        .bg-pink-700.color-palette
          div
            | .bg-pink-700
            span.pull-right 700
        .bg-pink-600.color-palette
          div
            | .bg-pink-600
            span.pull-right 600
        .bg-pink.color-palette
          div
            | .bg-pink-500
            span.pull-right Base 500
        .bg-pink-400.color-palette
          div
            | .bg-pink-400
            span.pull-right 400
        .bg-pink-300.color-palette
          div
            | .bg-pink-300
            span.pull-right 300
        .bg-pink-200.color-palette
          div
            | .bg-pink-200
            span.pull-right 200
        .bg-pink-100.color-palette
          div
            | .bg-pink-100
            span.pull-right 100
        .bg-pink-50.color-palette.color-inherit
          div
            | .bg-pink-50
            span.pull-right 50
      .col-lg-6.mb-5
        .bg-secondary-800.color-palette
          div
            | .bg-secondary-800
            span.pull-right 800
        .bg-secondary-700.color-palette
          div
            | .bg-secondary-700
            span.pull-right 700
        .bg-secondary-600.color-palette
          div
            | .bg-secondary-600
            span.pull-right 600
        .bg-secondary.color-palette
          div
            | .bg-secondary-500
            span.pull-right Base 500
        .bg-secondary-400.color-palette
          div
            | .bg-secondary-400
            span.pull-right 400
        .bg-secondary-300.color-palette
          div
            | .bg-secondary-300
            span.pull-right 300
        .bg-secondary-200.color-palette
          div
            | .bg-secondary-200
            span.pull-right 200
        .bg-secondary-100.color-palette
          div
            | .bg-secondary-100
            span.pull-right 100
        .bg-secondary-50.color-palette.color-inherit
          div
            | .bg-secondary-50
            span.pull-right 50

block page_styles
  style.
    .colors-boxes .color-box{
      margin-bottom:20px;
      border: 1px solid #eee;
    }
    .color-box .color-view {
      position: relative;
      padding: 35px 10px;
        text-align: center;
        font-size: 18px;
    }
    .color-box .color-name {
        padding: 7px;
        text-align: center;
        font-weight: 600;
    }
    .color-box .color-name small {display:block;font-weight:400;}
    .color-palette {
        padding: 10px 15px;
        color: #fff;
    }
