extends ../layout

block variables
  - var pageTitle = 'E-commerce Dashboard'
  - var pageUrl = 'dashboard_ecommerce.html'

block plugins-styles
  +link('jvectormap/jquery-jvectormap-2.0.3.css','plugin')

block plugins
    +script('chart.js/dist/Chart.min.js', 'plugin')
    +script('jquery.easy-pie-chart/dist/jquery.easypiechart.min.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-2.0.3.min.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-world-mill-en.js', 'plugin')

block content
  .row.mb-4
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='73', data-bar-color='#18C5A9', data-size='80', data-line-width='8')
            span.easypie-data.text-success(style='font-size:28px')
              i.ti-shopping-cart
          div
            h3.font-strong.text-success 720
            .text-muted TODAY'S ORDERS
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='42', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
            span.easypie-data.text-primary(style='font-size:32px')
              i.la.la-money
          div
            h3.font-strong.text-primary $5800
            .text-muted TODAY'S PROFIT
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='70', data-bar-color='#ff4081', data-size='80', data-line-width='8')
            span.easypie-data.text-pink(style='font-size:32px')
              i.la.la-users
          div
            h3.font-strong.text-pink 1250
            .text-muted TODAY'S CUSTOMERS
  .row
    .col-xl-8
      .ibox.ibox-fullheight
        .ibox-body
          .d-flex.justify-content-between.mb-4
            div
              h3.m-0 Sales Analytics
              div Your shop sales analytics
            ul.nav.nav-pills.nav-pills-rounded.nav-pills-air#sales_tabs
              li.nav-item.ml-1
                a.nav-link.active(data-toggle='tab' data-id='1' href='javascript:;') This Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='2' href='javascript:;') Last Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='3' href='javascript:;') Last Year
          div
            canvas#sales_chart_1(style='height:260px;')
    .col-xl-4.col-lg-6
      .ibox.ibox-fullheight(style='min-height:400px')
        .ibox-head
          div
            .ibox-title Weekly Profit
            small.text-lighter 24.02 - 24.09
          .ibox-tools
            a.dropdown-toggle(data-toggle="dropdown"): i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.la.la-upload
                | Export
              a.dropdown-item
                i.la.la-file-excel-o
                | Download
              a.dropdown-item
                i.la.la-print
                | Print
        .ibox-body
          .h1.mt-4
            | $32,400
            sup .60
            i.ti-stats-up.float-right.text-success(style='font-size:40px;')
          .text-lighter 26% Higher then last week
          div.abs-bottom
            canvas#revenue_chart(style='height:220px;')
  .row
    .col-xl-7
      +panel('LATEST ORDERS')(tools={'menu':1}, boxClass='ibox-fullheight')
        .flexbox.mb-4
          .flexbox
            span.flexbox.mr-3
              span.mr-2.text-muted Paid
              span.h3.mb-0.text-primary.font-strong 310
            span.flexbox
              span.mr-2.text-muted Unpaid
              span.h3.mb-0.text-pink.font-strong 105
          a.flexbox(href='ecommerce_orders_list.html', target='_blank')
            | VIEW ALL
            i.ti-arrow-circle-right.ml-2.font-18
        .ibox-fullwidth-block
          table.table.table-hover
            thead.thead-default.thead-lg
              tr
                th.pl-4 Order ID
                th Customer
                th Amount
                th Status
                th.pr-4(style='width:91px') Date
            tbody
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1254
                td Becky Brooks
                td $457.00
                td
                  span.badge.badge-success.badge-pill Shipped
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1253
                td Emma Johnson
                td $1200.00
                td
                  span.badge.badge-success.badge-pill Shipped
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1252
                td Noah Williams
                td $780.00
                td
                  span.badge.badge-primary.badge-pill Pending
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1251
                td Sophia Jones
                td $105.60
                td
                  span.badge.badge-success.badge-pill Completed
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1250
                td Jacob Brown
                td $40.00
                td
                  span.badge.badge-primary.badge-pill Pending
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1249
                td James Davis
                td $78.00
                td
                  span.badge.badge-danger.badge-pill Canceled
                td.pr-4 17.05.2018
    .col-xl-5
      +panel('PAYMENT SYSTEMS')(tools={'menu':1}, boxClass='ibox-fullheight')
        ul.media-list.media-list-divider
          li.media
            .media-img
              +img('logos/payment/visa.png')(width='60')
            .media-body
              .media-heading
                | Visa card 
                h4.font-strong.float-right.text-right
                  sup $
                  | 1100
              p.font-13.m-0.text-light Lorem ipsum dolar set...
          li.media
            .media-img
              +img('logos/payment/paypal.png')(width='60')
            .media-body
              .media-heading
                | PayPal 
                h4.font-strong.float-right.text-right
                  sup $
                  | 985
              p.font-13.m-0.text-light Lorem ipsum dolar set...
          li.media
            .media-img
              +img('logos/payment/mastercard.png')(width='60')
            .media-body
              .media-heading
                | MasterCard 
                h4.font-strong.float-right.text-right
                  sup $
                  | 850
              p.font-13.m-0.text-light Lorem ipsum dolar set...
          li.media
            .media-img
              +img('logos/payment/jcb.png')(width='60')
            .media-body
              .media-heading
                | JCB 
                h4.font-strong.float-right.text-right
                  sup $
                  | 690
              p.font-13.m-0.text-light Lorem ipsum dolar set...
          li.media
            .media-img
              +img('logos/payment/eps.png')(width='60')
            .media-body
              .media-heading
                | EPS 
                h4.font-strong.float-right.text-right
                  sup $
                  | 520
              p.font-13.m-0.text-light Lorem ipsum dolar set...
  .row
    .col-xl-8
      +panel('BEST SELLERS')(tools={'menu':1}, boxClass='ibox-fullheight')
        ul.media-list.media-list-divider
          li.media
            a.media-img(href='javascript:;')
              +img('products/01.jpg')(height='100')
            .media-body.d-flex
              .flex-1
                h5.media-heading
                  a(href='javascript:;') Product name
                .h4.text-success $25
                p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                .font-13
                  span.mr-4
                    | Author: 
                    a.text-success(href='javascript:;') @Creative
                  span.text-light.mr-4
                    i.la.la-heart-o.mr-2.font-16
                    | 4.8
                  i.la.la-truck.font-16.text-light(data-toggle='tooltip', data-original-title='Delivery')
              .text-right(style='width:100px')
                h3.mb-1.font-strong.text-success
                  sup $
                  | 7800
                .text-muted 312 sales
          li.media
            a.media-img(href='javascript:;')
              +img('products/02.jpg')(height='100')
            .media-body.d-flex
              .flex-1
                h5.media-heading
                  a(href='javascript:;') Product name
                .mb-2
                  span.h4.text-success.mr-2 $28
                  span.text-muted(style='text-decoration:line-through') $36
                p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                .font-13
                  span.mr-4
                    | Author: 
                    a.text-success(href='javascript:;') @Creative
                  span.text-light.mr-4
                    i.la.la-heart-o.mr-2.font-16
                    | 4.7
                  span.text-light.mr-4(data-toggle='tooltip', data-original-title='Discount 30%')
                    i.la.la-tags.mr-2.font-16
                    | 30%
                  i.la.la-truck.font-16.text-light(data-toggle='tooltip', data-original-title='Delivery')
              .text-right(style='width:100px')
                h3.mb-1.font-strong.text-success
                  sup $
                  | 7560
                .text-muted 270 sales
          li.media
            a.media-img(href='javascript:;')
              +img('products/03.jpg')(height='100')
            .media-body.d-flex
              .flex-1
                h5.media-heading
                  a(href='javascript:;') Product name
                .mb-2
                  span.h4.text-success.mr-2 $28
                  span.text-muted(style='text-decoration:line-through') $35
                p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                .font-13
                  span.mr-4
                    | Author: 
                    a.text-success(href='javascript:;') @Creative
                  span.text-light.mr-4
                    i.la.la-heart-o.mr-2.font-16
                    | 4.5
                  span.text-light(data-toggle='tooltip', data-original-title='Discount 25%')
                    i.la.la-tags.mr-2.font-16
                    | 25%
              .text-right(style='width:100px')
                h3.mb-1.font-strong.text-success
                  sup $
                  | 6916
                .text-muted 247 sales
    .col-xl-4.col-lg-6
      +panel('POPULAR CATEGORIES')(tools={'menu':1}, boxClass='ibox-fullheight')
        ul.media-list.media-list-divider
          li.media.flexbox
            div
              .media-heading TV & Video
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +1200
          li.media.flexbox
            div
              .media-heading Health & Beauty
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +1005
          li.media.flexbox
            div
              .media-heading Computers & Tablets
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +880
          li.media.flexbox
            div
              .media-heading Jewelry and Watches
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +725
          li.media.flexbox
            div
              .media-heading Handbags & Purses
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +510
          li.media.flexbox
            div
              .media-heading Cameras & Photo
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +323
  +panel('TOP COUNTRIES SALES')(tools={'menu':1}, boxClass='ibox-fullheight')
    #world-map(style='height: 400px')
  .row
    .col-xl-8
      .ibox
        .ibox-head
          .ibox-title SUPPORT TICKETS
          .ibox-tools
            a.dropdown-toggle.font-18(data-toggle='dropdown')
              i.ti-ticket
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil.mr-2
                | Create
              a.dropdown-item
                i.ti-pencil-alt.mr-2
                | Edit
              a.dropdown-item
                i.ti-close.mr-2
                | Remove
        .ibox-body
          ul.media-list.media-list-divider.scroller.mr-2(data-height='470px')
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') How to install new Adminca
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u11.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Tyrone Carroll
                    span.text-muted 18 mins ago
                .text-right(style='width:100px;')
                  span.badge.badge-primary.badge-pill.mb-2 Open
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 2 reply
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') How to compile SaSS
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u10.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Stella Obrien
                    span.text-muted 45 mins ago
                .text-right(style='width:100px;')
                  span.badge.badge-success.badge-pill.mb-2 Pending
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') I need help to update bower
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u6.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Connor Perez
                    span.text-muted 1 hrs ago
                .text-right(style='width:100px;')
                  span.badge.badge-primary.badge-pill.mb-2 In Progress
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 2 reply
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') IE7 problem
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u2.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Becky Brooks
                    span.text-muted 2 hrs ago
                .text-right(style='width:100px;')
                  span.badge.badge-success.badge-pill.mb-2 Pending
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') I need help to install Adminca Angular
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u5.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Bob Gonzalez
                    span.text-muted 2 days ago
                .text-right(style='width:100px;')
                  span.badge.badge-secondary.badge-pill.mb-2 Closed
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 3 reply
    .col-xl-4
      .ibox
        .ibox-head
          .ibox-title LOGS TIMELINE
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil
                | Create
              a.dropdown-item
                i.ti-pencil-alt
                | Edit
              a.dropdown-item
                i.ti-close
                | Remove
        .ibox-body
          ul.timeline.scroller(data-height='470px')
            li.timeline-item
              span.timeline-point
              | 2 Issue fixed
              small.float-right.text-muted.ml-2.nowrap Just now
            li.timeline-item
              span.timeline-point.bg-warning
              span
                | 7 new feedback
                span.badge.badge-warning.badge-pill.ml-2 important
              small.float-right.text-muted 5 mins
            li.timeline-item
              span.timeline-point.bg-primary
              span.flexbox
                | 25 new orders sent
                i.la.la-truck.font-16.ml-2.text-primary
              small.float-right.text-muted.ml-2.nowrap 24 mins
            li.timeline-item
              span.timeline-point
              | 12 New orders
              small.float-right.text-muted.ml-2.nowrap 45 mins
            li.timeline-item
              span.timeline-point.bg-warning
              | 18 new users registered
              small.float-right.text-muted.ml-2.nowrap 1 hrs
            li.timeline-item
              span.timeline-point
              span
                | Server Error
                span.badge.badge-success.badge-pill.ml-2 resolved
              small.float-right.text-muted 2 hrs
            li.timeline-item
              span.timeline-point.bg-primary
              span
                | System Warning
                a.text-primary.ml-2 Check
              small.float-right.text-muted.ml-2.nowrap 12:07
            li.timeline-item
              span.timeline-point.bg-warning
              | The invoice is ready
              small.float-right.text-muted.ml-2.nowrap 12:30
            li.timeline-item
              span.timeline-point.bg-primary
              | 5 New Orders
              small.float-right.text-muted.ml-2.nowrap 13:45
            li.timeline-item
              span.timeline-point
              span.flexbox
                | Production server up
                i.la.la-arrow-circle-up.font-18.ml-2.text-success
              small.float-right.text-muted.ml-2.nowrap 1 days ago
            li.timeline-item
              span.timeline-point
              | Server overloaded 91%
              small.float-right.text-muted.ml-2.nowrap 2 days ago
            li.timeline-item
              span.timeline-point.bg-warning
              | Server error
              small.float-right.text-muted.ml-2.nowrap 2 days ago

block scripts
    +script('dashboard_ecommerce.js', 'page')
