extends ../layout

block variables
  - var pageTitle = 'Dashboard v7'
  - var pageUrl = 'dashboard_7.html'
  
block plugins-styles
  +link('jvectormap/jquery-jvectormap-2.0.3.css','plugin')

block plugins
  +script('chart.js/dist/Chart.min.js', 'plugin')
  +script('jquery.easy-pie-chart/dist/jquery.easypiechart.min.js', 'plugin')
  +script('jquery-sparkline/dist/jquery.sparkline.min.js', 'plugin')
  +script('jvectormap/jquery-jvectormap-2.0.3.min.js', 'plugin')
  +script('jvectormap/jquery-jvectormap-world-mill-en.js', 'plugin')

block content
  .row
    .col-lg-8
      .ibox
        .ibox-body.bg-success
          .d-flex.justify-content-between.mb-4
            .text-white
              h3.m-0 Sales Analytics
              div Your shop sales analytics
            .rel
              a.dropdown-toggle.text-white(data-toggle='dropdown')
                i.ti-settings.font-16
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item
                  i.la.la-upload
                  | Export
                a.dropdown-item
                  i.la.la-file-excel-o
                  | Download
                a.dropdown-item(data-action='print', data-target='#diagram_1')
                  i.la.la-print
                  | Print
          div
            canvas#line_chart(style='height:260px;')
        .ibox-body
          .text-muted.mb-4 Statistics
          .row.align-items-center
            .col-6(data-print-hidden)
              canvas#chart_1(style='height:100px;')
            .col-6
              h2.text-success +2250$
              .text-muted
                span.text-success.mr-2
                  i.ti-stats-up.mr-1
                  | 32%
                | FROM LAST YEAR
          hr
          .row
            .col-4.text-center(style='border-right: 1px solid rgba(0,0,0,.1)')
              .text-muted MONTH INCOME
              h2.text-success.mt-1 $5200
            .col-4.text-center(style='border-right: 1px solid rgba(0,0,0,.1)')
              .text-muted MONTH SALES
              h2.text-success.mt-1 240
            .col-4.text-center
              .text-muted MONTH ORDERS
              h2.text-success.mt-1 2150
    .col-lg-4
      +panel('Statistics')(tools={'menu':1})
        .h2.m-0
          | $12,400
          sup .60
          i.ti-stats-up.float-right.text-success.font-40
        .text-muted.m-t-5 MONTH INCOME
        .my-4
          .h4.m-0 120
          .flexbox
            small Example data
            span.text-success.font-12(style='font-size: 12px;')
              i.fa.fa-level-up
              |  +24%
          .progress.mt-1
            .progress-bar.bg-success(role='progressbar', style='width:52%; height:5px;', aria-valuenow='52', aria-valuemin='0', aria-valuemax='100')
        .mb-4
          .h4.m-0 86
          .flexbox
            small Example data
            span.text-warning.font-12(style='font-size: 12px;')
              i.fa.fa-level-down
              |  -12%
          .progress.mt-1
            .progress-bar.bg-warning(role='progressbar', style='width:45%; height:5px;', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100')
      .card.mb-4
        .card-body
          h2
            | $250 
            i.ti-stats-down.text-danger.float-right
          .text-muted WEEKLY INCOME
        #spark_1 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
      .card.mb-4
        .card-body
          h2
            | $1200 
            i.ti-stats-up.text-success.float-right
          .text-muted MONTH INCOME
        #spark_2 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
  .row
    .col-lg-4
      +panel(title='Logs Timeline', tools={'menu':1}, boxClass='ibox-fullheight')
        ul.timeline.scroller(data-height='400px')
          li.timeline-item
            i.ti-check.timeline-icon
            | 2 Issue fixed
            small.float-right.text-muted.ml-2.nowrap Just now
          li.timeline-item
            i.ti-announcement.timeline-icon
            span
              | 7 new feedback
              span.badge.badge-warning.badge-pill.ml-2 important
            small.float-right.text-muted 5 mins
          li.timeline-item
            i.ti-truck.timeline-icon
            | 25 new orders sent
            small.float-right.text-muted.ml-2.nowrap 24 mins
          li.timeline-item
            i.ti-shopping-cart.timeline-icon
            | 12 New orders
            small.float-right.text-muted.ml-2.nowrap 45 mins
          li.timeline-item
            i.ti-user.timeline-icon
            | 18 new users registered
            small.float-right.text-muted.ml-2.nowrap 1 hrs
          li.timeline-item
            i.ti-harddrives.timeline-icon
            span
              | Server Error
              span.badge.badge-success.badge-pill.ml-2 resolved
            small.float-right.text-muted 2 hrs
          li.timeline-item
            i.ti-info-alt.timeline-icon
            span
              | System Warning
              a.text-primary.ml-2 Check
            small.float-right.text-muted.ml-2.nowrap 12:07
          li.timeline-item
            i.fa.fa-file-excel-o.timeline-icon
            | The invoice is ready
            small.float-right.text-muted.ml-2.nowrap 12:30
          li.timeline-item
            i.ti-shopping-cart.timeline-icon
            | 5 New Orders
            small.float-right.text-muted.ml-2.nowrap 13:45
          li.timeline-item
            i.ti-arrow-circle-up.timeline-icon
            | Production server up
            small.float-right.text-muted.ml-2.nowrap 1 days ago
          li.timeline-item
            i.ti-harddrives.timeline-icon
            | Server overloaded 91%
            small.float-right.text-muted.ml-2.nowrap 2 days ago
          li.timeline-item
            i.ti-info-alt.timeline-icon
            | Server error
            small.float-right.text-muted.ml-2.nowrap 2 days ago
    .col-lg-4
      .ibox(style='min-height:500px;')
        .ibox-head
          .ibox-title Statistics
          .ibox-tools
            a.font-18(href='javascript:;')
              i.ti-control-record
        .ibox-body
          .row.align-items-center.mt-4.mb-4
            .col-md-6
              .easypie.centered(data-percent='73', data-bar-color='#18C5A9', data-size="120", data-line-width="8")
                span.easypie-data.h3.font-strong
                  | 73
                  sup %
            .col-md-6
              .mb-4.text-success
                i.ti-desktop.mr-2
                | Desktop 52%
              .mb-4.text-warning
                i.ti-tablet.mr-2
                | Tablet 27%
              .mb-.text-info
                i.ti-mobile.mr-2
                | Mobile 21%
          .d-flex.justify-content-between.mb-4
            .text-center
              .mb-1.text-success.h2 2400
              .text-muted PAGE VIEWS
            .text-center
              .mb-1.text-success.h2 $5200
              .text-muted MONTH INCOME
        .abs-bottom(style='background-color:#f3f6fb;')
          canvas#chart_2(style='height:120px;')
    .col-lg-4
      .ibox
        .ibox-head
          .ibox-title NEW CUSTOMERS
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-user
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil.mr-2
                | Create
              a.dropdown-item
                i.ti-pencil-alt.mr-2
                | Edit
              a.dropdown-item
                i.ti-close.mr-2
                | Remove
        .ibox-body
          ul.media-list.media-list-divider.mr-2.scroller(data-height='400px')
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u8.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Lynn Weaver
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u6.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Connor Perez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u11.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Tyrone Carroll
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u10.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Stella Obrien
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u2.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Becky Brooks
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u5.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Bob Gonzalez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed
  .row
    .col-lg-8  
      +panel('LATEST ORDERS')(tools={'menu':1}, boxClass='ibox-fullheight')
        .flexbox.mb-4
          .flexbox
            span.flexbox.mr-3
              span.mr-2.text-muted Paid
              span.h3.mb-0.text-primary.font-strong 310
            span.flexbox
              span.mr-2.text-muted Unpaid
              span.h3.mb-0.text-pink.font-strong 105
          a.flexbox(href='ecommerce_orders_list.html', target='_blank')
            | VIEW ALL
            i.ti-arrow-circle-right.ml-2.font-18
        .ibox-fullwidth-block
          table.table.table-hover
            thead.thead-default.thead-lg
              tr
                th.pl-4 Order ID
                th Customer
                th Amount
                th Status
                th.pr-4(style='width:91px') Date
            tbody
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1254
                td Becky Brooks
                td $457.00
                td
                  span.badge.badge-success.badge-pill Shipped
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1253
                td Emma Johnson
                td $1200.00
                td
                  span.badge.badge-success.badge-pill Shipped
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1252
                td Noah Williams
                td $780.00
                td
                  span.badge.badge-primary.badge-pill Pending
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1251
                td Sophia Jones
                td $105.60
                td
                  span.badge.badge-success.badge-pill Completed
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1250
                td Jacob Brown
                td $40.00
                td
                  span.badge.badge-primary.badge-pill Pending
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1249
                td James Davis
                td $78.00
                td
                  span.badge.badge-danger.badge-pill Canceled
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1248
                td Emma Johnson
                td $1200.00
                td
                  span.badge.badge-success.badge-pill Shipped
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1247
                td Noah Williams
                td $780.00
                td
                  span.badge.badge-primary.badge-pill Pending
                td.pr-4 17.05.2018
              tr
                td.pl-4: a(href='ecommerce_order_details.html', target='_blank') #1246
                td James Davis
                td $78.00
                td
                  span.badge.badge-danger.badge-pill Canceled
                td.pr-4 17.05.2018
    .col-lg-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title TASKS
          .ibox-tools
            a.font-18
              i.ti-plus
        .ibox-body
          ul.list-group.list-group-divider.list-group-full.tasks-list
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox', checked='')
                  span.input-span
                  span.task-title Make Adminca the best and the most easy admin template
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Create Financial Report
              .task-data
                small.text-muted No due date
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox', checked='')
                  span.input-span
                  span.task-title Meeting with Ann
                span.badge.badge-warning.ml-1
                  i.ti-alarm-clock
                  |  1 hrs
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Edit the blog post
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send photos to Jack
                span.badge.badge-success.ml-1 Today
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send Financial Reports
                span.badge.badge-danger.ml-1 Important
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send message to Bob
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
  +panel('VISITORS ANALYTICS')(tools={'menu':1}, boxClass='ibox-fullheight')
    #world-map(style='height: 400px')
  .row
    .col-xl-8
      +panel('BEST SELLERS')(tools={'menu':1}, boxClass='ibox-fullheight')
        ul.media-list.media-list-divider
          li.media
            a.media-img(href='javascript:;')
              +img('products/01.jpg')(height='100')
            .media-body.d-flex
              .flex-1
                h5.media-heading
                  a(href='javascript:;') Product name
                .h4.text-success $25
                p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                .font-13
                  span.mr-4
                    | Author: 
                    a.text-success(href='javascript:;') @Creative
                  span.text-light.mr-4
                    i.la.la-heart-o.mr-2.font-16
                    | 4.8
                  i.la.la-truck.font-16.text-light(data-toggle='tooltip', data-original-title='Delivery')
              .text-right(style='width:100px')
                h3.mb-1.font-strong.text-success
                  sup $
                  | 7800
                .text-muted 312 sales
          li.media
            a.media-img(href='javascript:;')
              +img('products/02.jpg')(height='100')
            .media-body.d-flex
              .flex-1
                h5.media-heading
                  a(href='javascript:;') Product name
                .mb-2
                  span.h4.text-success.mr-2 $28
                  span.text-muted(style='text-decoration:line-through') $36
                p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                .font-13
                  span.mr-4
                    | Author: 
                    a.text-success(href='javascript:;') @Creative
                  span.text-light.mr-4
                    i.la.la-heart-o.mr-2.font-16
                    | 4.7
                  span.text-light.mr-4(data-toggle='tooltip', data-original-title='Discount 30%')
                    i.la.la-tags.mr-2.font-16
                    | 30%
                  i.la.la-truck.font-16.text-light(data-toggle='tooltip', data-original-title='Delivery')
              .text-right(style='width:100px')
                h3.mb-1.font-strong.text-success
                  sup $
                  | 7560
                .text-muted 270 sales
          li.media
            a.media-img(href='javascript:;')
              +img('products/03.jpg')(height='100')
            .media-body.d-flex
              .flex-1
                h5.media-heading
                  a(href='javascript:;') Product name
                .mb-2
                  span.h4.text-success.mr-2 $28
                  span.text-muted(style='text-decoration:line-through') $35
                p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                .font-13
                  span.mr-4
                    | Author: 
                    a.text-success(href='javascript:;') @Creative
                  span.text-light.mr-4
                    i.la.la-heart-o.mr-2.font-16
                    | 4.5
                  span.text-light(data-toggle='tooltip', data-original-title='Discount 25%')
                    i.la.la-tags.mr-2.font-16
                    | 25%
              .text-right(style='width:100px')
                h3.mb-1.font-strong.text-success
                  sup $
                  | 6916
                .text-muted 247 sales
    .col-xl-4.col-lg-6
      +panel('POPULAR CATEGORIES')(tools={'menu':1}, boxClass='ibox-fullheight')
        ul.media-list.media-list-divider
          li.media.flexbox
            div
              .media-heading TV & Video
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +1200
          li.media.flexbox
            div
              .media-heading Health & Beauty
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +1005
          li.media.flexbox
            div
              .media-heading Computers & Tablets
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +880
          li.media.flexbox
            div
              .media-heading Jewelry and Watches
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +725
          li.media.flexbox
            div
              .media-heading Handbags & Purses
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +510
          li.media.flexbox
            div
              .media-heading Cameras & Photo
              .font-13.text-light Lorem ipsum dolar set...
            h4.font-strong.mb-0.ml-3.text-primary +323
  

block scripts
    +script('dashboard_7.js', 'page')
