extends ../layout

block variables
  - var pageTitle = 'Blog Dashboard'
  - var pageUrl = 'dashboard_blog.html'

block plugins
    +script('chart.js/dist/Chart.min.js', 'plugin')
    +script('jquery.easy-pie-chart/dist/jquery.easypiechart.min.js', 'plugin')

block content
  .row
    .col-xl-4
      .ibox.ibox-fullheight(style='min-height:480px;')
        .ibox-head
          .ibox-title SUBSCRIPTIONS
          .ibox-tools
            a.font-18(href='javascript:;')
              i.ti-control-record
        .ibox-body
          .flexbox.mb-3
            span.flexbox
              span.btn-icon-only.btn-circle.bg-primary-50.text-primary.mr-3
                i.ti-cup
              span BASIC PLAN
            span.h3.mb-0.text-primary.font-strong.ml-2 +1250
          .flexbox.mb-3
            span.flexbox
              span.btn-icon-only.btn-circle.bg-success-50.text-success.mr-3
                i.ti-briefcase
              span BUSINESS PLAN
            span.h3.mb-0.text-success.font-strong.ml-2 +890
          .flexbox.mb-3
            span.flexbox
              span.btn-icon-only.btn-circle.bg-pink-50.text-pink.mr-3
                i.ti-gift
              span EXPANDED PLAN
            span.h3.mb-0.text-pink.font-strong.ml-2 +720
          .abs-bottom
            canvas#chart_1(style='height:220px;')
    .col-xl-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title EARNINGS
          .ibox-tools
            a.font-18(href='javascript:;')
              i.ti-control-record
        .ibox-body
          .row.mb-4
            .col-6.text-center(style='border-right: 1px solid rgba(0,0,0,.1);')
              .text-muted DAILY PROFIT
              .h2.text-success.mt-1 $540
            .col-6.text-center
              .text-muted SUBSCRIPTIONS
              .h2.text-success.mt-1 36
          .h1.mt-4
            | $7,400
            sup .60
            i.ti-stats-up.float-right.text-warning(style='font-size:40px;')
          .text-lighter 26% Higher then last week
          .mt-5.mb-5
            canvas#chart_2(style='height:100px;')
          .d-flex
            button.btn.btn-gradient-purple.mr-2 View More
            button.btn.btn-outline-secondary Print
    .col-xl-4
      .card.border-0.mb-4
        .rel
          +img('blog/04.jpeg')(class='card-img-top')
          .card-img-overlay.text-white
            span.badge.badge-primary.mb-5 FASHION
            .card-title-bottom.color-white.mb-2
              h4.card-title.mb-2
                a Fashion Trends
              div 16 January 2018
        .card-body
          .d-flex.align-items-center.justify-content-between.mb-4
            .d-inline-flex.align-items-center
              +img('users/u8.jpg')(class='img-circle mr-3', width='40')
              div
                h6.text-primary.m-0 Lynn Weaver
                small.text-muted Web Designer
            .d-inline-flex
              span.text-muted.pl-3.pr-3.text-center(style='border-right:1px solid rgba(0,0,0,.1);')
                i.fa.fa-heart-o.d-block.font-16.mb-2
                | 124
              span.text-muted.pl-3.pr-3.text-center
                i.fa.fa-comment-o.d-block.font-16.mb-2
                | 56
          p.text-light
            | Minim dolor in amet nulla laboris enim dolore consequat proident fugiat culpa eiusmod proident sed excepteur excepteur magna irure ex officia ea sunt in incididunt minim nulla dolor dolor labore exercitation ex nostrud.
          .text-right
            a.d-inline-flex.align-items-center.text-primary(href='javascript:;')
              | Read More
              i.ti-arrow-circle-right.font-20.ml-2
  .row
    .col-xl-8
      .ibox
        .ibox-head
          .ibox-title
            span.btn-icon-only.btn-circle.bg-primary-50.text-primary.mr-3
              i.ti-email
            | Email distribution
        .ibox-body
          .flexbox.mb-4
            .flexbox
              span.flexbox.mr-3
                span.mr-2.text-muted Sent
                span.h3.mb-0.text-primary.font-strong 310
              span.flexbox
                span.mr-2.text-muted Queue
                span.h3.mb-0.text-pink.font-strong 105
            a.flexbox(href='javascript:;', target='_blank')
              | VIEW ALL
              i.ti-arrow-circle-right.ml-2.font-18
          .ibox-fullwidth-block
            table.table
              thead.thead-default.thead-lg
                tr
                  th.pl-4 Subject
                  th Quantity
                  th Reference
                  th.pr-4 Percent
              tbody
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-primary.font-20.mr-3 AC
                      div
                        h6.mb-1 Try New version of Adminca
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 1400
                  td
                    h4.font-strong.text-primary.mb-0 820
                  td.pr-4
                    .easypie(data-percent='59', data-bar-color='#5c6bc0', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 59%
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-pink.mr-3: i.ti-gift.font-20
                      div
                        h6.mb-1 Adminca Big Bundle 6 in 1
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 1250
                  td
                    h4.font-strong.text-pink.mb-0 575
                  td.pr-4
                    .easypie(data-percent='46', data-bar-color='#ff4081', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 46%
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-success.font-20.mr-3 LV
                      div
                        h6.mb-1 Adminca - Save your time, choose the best
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 1320
                  td
                    h4.font-strong.text-success.mb-0 554
                  td.pr-4
                    .easypie(data-percent='42', data-bar-color='#18c5a9', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 42%
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-warning.mr-3: i.ti-support.font-20
                      div
                        h6.mb-1 High Quality Support & Easy Code
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 870
                  td
                    h4.font-strong.text-warning.mb-0 478
                  td.pr-4
                    .easypie(data-percent='56', data-bar-color='#f39c12', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 56%

    .col-xl-4
      .d-flex
        .social-widget.social-widget-facebook.mr-4.mb-4
          .social-widget-header
            i.fa.fa-facebook
          .social-widget-count 10k
        .social-widget.social-widget-pinterest.mr-4.mb-4
          .social-widget-header
            i.fa.fa-pinterest-p
          .social-widget-count 6k
        .social-widget.social-widget-twitter.mb-4
          .social-widget-header
            i.fa.fa-twitter
          .social-widget-count 12.4k
      .card.mb-4.card-hover-zoom
        +img('blog/07.jpeg')(class='card-img img-zoom')
        .card-img-overlay.text-white.card-overlay-dark.card-overlay-hover.d-flex.flex-column.justify-content-between.align-items-start
          .w-100.d-flex.justify-content-between.mb-3
            div
              span.badge.badge-primary.mr-2 TRENDS
              span.badge.badge-pink DESIGN
            div
              span.mr-4
                i.fa.fa-heart-o.mr-2
                | 124
              span
                i.fa.fa-comment-o.mr-2
                | 56
          h2.card-title.mb-2
            a
              | Web Design Trends
              br
              | Strict Selection
          .text-muted 16 January 2018
  .row
    .col-xl-8
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title LATEST POSTS
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil
                | Create
              a.dropdown-item
                i.ti-pencil-alt
                | Edit
              a.dropdown-item
                i.ti-close
                | Remove
        .ibox-body
          ul.media-list.media-list-divider
            li.media
              a.media-img.pr-4(href='javascript:;')
                +img('blog/07.jpeg')(width='120')
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='article.html') Web Design Trends
                  p.font-13.text-light Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                  .font-13
                    span.mr-4
                      | Created: 
                      a.text-success(href='javascript:;') 10.08.2018
                    span.text-muted.mr-4
                      i.fa.fa-heart.mr-2
                      | 56
                    span.text-muted
                      i.fa.fa-comment.mr-2
                      | 124
                .text-right.ml-3
                  h3.mb-1.font-strong.text-primary 5800
                  .text-muted views
            li.media
              a.media-img.pr-4(href='javascript:;')
                +img('blog/culinary-1.jpeg')(width='120')
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='article.html') Dish of the day
                  p.font-13.text-light Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                  .font-13
                    span.mr-4
                      | Created: 
                      a.text-success(href='javascript:;') 10.08.2018
                    span.text-muted.mr-4
                      i.fa.fa-heart.mr-2
                      | 56
                    span.text-muted
                      i.fa.fa-comment.mr-2
                      | 124
                .text-right.ml-3
                  h3.mb-1.font-strong.text-primary 5240
                  .text-muted views
            li.media
              a.media-img.pr-4(href='javascript:;')
                +img('blog/02.jpg')(width='120')
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='article.html') Fashion Trends
                  p.font-13.text-light Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                  .font-13
                    span.mr-4
                      | Created: 
                      a.text-success(href='javascript:;') 10.08.2018
                    span.text-muted.mr-4
                      i.fa.fa-heart.mr-2
                      | 56
                    span.text-muted
                      i.fa.fa-comment.mr-2
                      | 124
                .text-right.ml-3
                  h3.mb-1.font-strong.text-primary 4780
                  .text-muted views
            li.media
              a.media-img.pr-4(href='javascript:;')
                +img('blog/04.jpeg')(width='120')
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='article.html') Style of the week
                  p.font-13.text-light Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint
                  .font-13
                    span.mr-4
                      | Created: 
                      a.text-success(href='javascript:;') 10.08.2018
                    span.text-muted.mr-4
                      i.fa.fa-heart.mr-2
                      | 56
                    span.text-muted
                      i.fa.fa-comment.mr-2
                      | 124
                .text-right.ml-3
                  h3.mb-1.font-strong.text-primary 4200
                  .text-muted views
    .col-xl-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title BEST CATEGORIES
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil
                | Create
              a.dropdown-item
                i.ti-pencil-alt
                | Edit
              a.dropdown-item
                i.ti-close
                | Remove
        .ibox-body
          ul.media-list.media-list-divider
            li.media
              a.media-img(href='javascript:;')
                +img('devicons/bootstrap.svg')(width='40')
              .media-body.d-flex
                .flex-1
                  .media-heading Bootstrap
                  p.font-13.m-0.text-light Lorem ipsum dolar set...
                .text-right.ml-2
                  h4.mb-1.font-strong 1200
                  .text-muted posts
            li.media
              a.media-img(href='javascript:;')
                +img('devicons/angularjs.svg')(width='40')
              .media-body.d-flex
                .flex-1
                  .media-heading AngularJS
                  p.font-13.m-0.text-light Lorem ipsum dolar set...
                .text-right.ml-2
                  h4.mb-1.font-strong 1140
                  .text-muted posts
            li.media
              a.media-img(href='javascript:;')
                +img('devicons/laravel.svg')(width='40')
              .media-body.d-flex
                .flex-1
                  .media-heading Laravel
                  p.font-13.m-0.text-light Lorem ipsum dolar set...
                .text-right.ml-2
                  h4.mb-1.font-strong 980
                  .text-muted posts
            li.media
              a.media-img(href='javascript:;')
                +img('devicons/php.svg')(width='40')
              .media-body.d-flex
                .flex-1
                  .media-heading PHP
                  p.font-13.m-0.text-light Lorem ipsum dolar set...
                .text-right.ml-2
                  h4.mb-1.font-strong 745
                  .text-muted posts
            li.media
              a.media-img(href='javascript:;')
                +img('devicons/react.svg')(width='40')
              .media-body.d-flex
                .flex-1
                  .media-heading ReactJS
                  p.font-13.m-0.text-light Lorem ipsum dolar set...
                .text-right.ml-2
                  h4.mb-1.font-strong 620
                  .text-muted posts
  .row
    .col-xl-8
      .ibox
        .ibox-head
          .ibox-title SUPPORT TICKETS
          .ibox-tools
            a.dropdown-toggle.font-18(data-toggle='dropdown')
              i.ti-ticket
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil.mr-2
                | Create
              a.dropdown-item
                i.ti-pencil-alt.mr-2
                | Edit
              a.dropdown-item
                i.ti-close.mr-2
                | Remove
        .ibox-body
          ul.media-list.media-list-divider.scroller.mr-2(data-height='470px')
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') How to install new Adminca
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u11.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Tyrone Carroll
                    span.text-muted 18 mins ago
                .text-right(style='width:100px;')
                  span.badge.badge-primary.badge-pill.mb-2 Open
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 2 reply
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') How to compile SaSS
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u10.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Stella Obrien
                    span.text-muted 45 mins ago
                .text-right(style='width:100px;')
                  span.badge.badge-success.badge-pill.mb-2 Pending
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') I need help to update bower
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u6.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Connor Perez
                    span.text-muted 1 hrs ago
                .text-right(style='width:100px;')
                  span.badge.badge-primary.badge-pill.mb-2 In Progress
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 2 reply
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') IE7 problem
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u2.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Becky Brooks
                    span.text-muted 2 hrs ago
                .text-right(style='width:100px;')
                  span.badge.badge-success.badge-pill.mb-2 Pending
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') I need help to install Adminca Angular
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u5.jpg')(class='img-circle mr-2' width='22')
                    a.mr-2.text-success(href='javascript:;') Bob Gonzalez
                    span.text-muted 2 days ago
                .text-right(style='width:100px;')
                  span.badge.badge-secondary.badge-pill.mb-2 Closed
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 3 reply
    .col-xl-4
      .ibox
        .ibox-head
          .ibox-title LOGS TIMELINE
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil
                | Create
              a.dropdown-item
                i.ti-pencil-alt
                | Edit
              a.dropdown-item
                i.ti-close
                | Remove
        .ibox-body
          ul.timeline.scroller(data-height='470px')
            li.timeline-item
              span.timeline-point
              | 2 Issue fixed
              small.float-right.text-muted.ml-2.nowrap Just now
            li.timeline-item
              span.timeline-point.bg-warning
              span
                | 7 new feedback
                span.badge.badge-warning.badge-pill.ml-2 important
              small.float-right.text-muted 5 mins
            li.timeline-item
              span.timeline-point.bg-primary
              span.flexbox
                | 25 new orders sent
                i.la.la-truck.font-16.ml-2.text-primary
              small.float-right.text-muted.ml-2.nowrap 24 mins
            li.timeline-item
              span.timeline-point
              | 12 New orders
              small.float-right.text-muted.ml-2.nowrap 45 mins
            li.timeline-item
              span.timeline-point.bg-warning
              | 18 new users registered
              small.float-right.text-muted.ml-2.nowrap 1 hrs
            li.timeline-item
              span.timeline-point
              span
                | Server Error
                span.badge.badge-success.badge-pill.ml-2 resolved
              small.float-right.text-muted 2 hrs
            li.timeline-item
              span.timeline-point.bg-primary
              span
                | System Warning
                a.text-primary.ml-2 Check
              small.float-right.text-muted.ml-2.nowrap 12:07
            li.timeline-item
              span.timeline-point.bg-warning
              | The invoice is ready
              small.float-right.text-muted.ml-2.nowrap 12:30
            li.timeline-item
              span.timeline-point.bg-primary
              | 5 New Orders
              small.float-right.text-muted.ml-2.nowrap 13:45
            li.timeline-item
              span.timeline-point
              span.flexbox
                | Production server up
                i.la.la-arrow-circle-up.font-18.ml-2.text-success
              small.float-right.text-muted.ml-2.nowrap 1 days ago
            li.timeline-item
              span.timeline-point
              | Server overloaded 91%
              small.float-right.text-muted.ml-2.nowrap 2 days ago
            li.timeline-item
              span.timeline-point.bg-warning
              | Server error
              small.float-right.text-muted.ml-2.nowrap 2 days ago
  .row
    .col-lg-6
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title Tasks
          .ibox-tools
            a.font-18
              i.ti-plus
        .ibox-body
          ul.list-group.list-group-divider.list-group-full.tasks-list
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox', checked='')
                  span.input-span
                  span.task-title Make Adminca the best and the most easy admin template
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Create Financial Report
              .task-data
                small.text-muted No due date
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox', checked='')
                  span.input-span
                  span.task-title Meeting with Ann
                span.badge.badge-warning.ml-1
                  i.ti-alarm-clock
                  |  1 hrs
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Edit the blog post
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send photos to Jack
                span.badge.badge-success.ml-1 Today
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send Financial Reports
                span.badge.badge-danger.ml-1 Important
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send message to Bob
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
    .col-lg-6
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title New Customers
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-user
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil.mr-2
                | Create
              a.dropdown-item
                i.ti-pencil-alt.mr-2
                | Edit
              a.dropdown-item
                i.ti-close.mr-2
                | Remove
        .ibox-body
          ul.media-list.media-list-divider.mr-2.scroller(data-height='470px')
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u8.jpg')(class='img-circle' width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Lynn Weaver
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u6.jpg')(class='img-circle' width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Connor Perez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u11.jpg')(class='img-circle' width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Tyrone Carroll
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u10.jpg')(class='img-circle' width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Stella Obrien
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u2.jpg')(class='img-circle' width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Becky Brooks
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u5.jpg')(class='img-circle' width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Bob Gonzalez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed

block scripts
    +script('dashboard_blog.js', 'page')
