extends ../layout-simple

block variables
  - var pageTitle = 'Error 404'
  - var pageUrl = 'error_404.html'

block content
  .error-content
    .flexbox
      span.error-icon
      .flex-1
        h1.error-code 404
        h3.font-strong NOT FOUND
        p Sorry, the page you were looking for could not found.
    .text-center.mb-3.mt-5
      a.text-primary(href="index.html") Go Homepage
      |  or search
    form.input-group-icon.input-group-icon-left.mb-4(action='javascript:;', method='POST')
      span.input-icon.font-16: i.ti-search
      input.form-control.form-control-rounded.form-control-solid#key-search(type="text" placeholder="Search ...")

block page_styles
  style.
    body {
      background-color: #fff;
      background-repeat: no-repeat;
      background-image: url(./assets/img/icons/search-document-3.svg);
      background-position: 80% 0;
    }
    .error-content {
      max-width: 620px;
      margin: 200px auto 0;
    }
    .error-icon {
      height: 160px;
      width: 160px;
      background-image: url(./assets/img/icons/search-document.svg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 80px;
    }
    .error-code {
      font-size:120px;
      color: #5c6bc0;
    }
