extends ../layout

block variables
  - var pageTitle = 'Icons'
  - var pageUrl = 'icons.html'

block content
  .flexbox-b.mb-5
    span.mr-4.static-badge.badge-pink
      i.ti-comments-smiley
    div
      h5.font-strong Icons
      .text-light 3 most popular Icons sets. Much you do not need :) It's almost 2000 icons
  +panel()
    .row
      .col-md-4
        .card.mt-4.mb-4
          .card-body
              h5.card-title.text-center FontAwesome Icons v4.7.0
              .icons-preview
                .icon-item
                  i.fa.fa-bar-chart
                .icon-item
                  i.fa.fa-calendar
                .icon-item
                  i.fa.fa-envelope-open-o
                .icon-item
                  i.fa.fa-heart-o
                .icon-item
                  i.fa.fa-bars
                .icon-item
                  i.fa.fa-search
                .icon-item
                  i.fa.fa-bullhorn
                .icon-item
                  i.fa.fa-file-text-o
                .icon-item
                  i.fa.fa-bell-o
              .text-center.mt-2: a(href='http://fontawesome.io/icons' target='_blank').btn.btn-sm.btn-primary View all
      .col-md-4
        .card.mt-4.mb-4
          .card-body
              h5.card-title.text-center LineAwesome Icons v1.1.0
              .icons-preview
                .icon-item
                  i.la.la-ambulance
                .icon-item
                  i.la.la-anchor
                .icon-item
                  i.la.la-android
                .icon-item
                  i.la.la-calendar-plus-o
                .icon-item
                  i.la.la-arrows-alt
                .icon-item
                  i.la.la-bell
                .icon-item
                  i.la.la-briefcase
                .icon-item
                  i.la.la-bullhorn
                .icon-item
                  i.la.la-camera-retro
              .text-center.mt-2: a(href='https://ru.icons8.com/line-awesome' target='_blank').btn.btn-sm.btn-primary View all
      .col-md-4
        .card.mt-4.mb-4
          .card-body
              h5.card-title.text-center Themify Icons
              .icons-preview
                .icon-item
                  i.ti-shopping-cart
                .icon-item
                  i.ti-paint-roller
                .icon-item
                  i.ti-lock
                .icon-item
                  i.ti-user
                .icon-item
                  i.ti-comment-alt
                .icon-item
                  i.ti-stats-up
                .icon-item
                  i.ti-menu
                .icon-item
                  i.ti-server
                .icon-item
                  i.ti-paint-bucket
              .text-center.mt-2: a(href='https://themify.me/themify-icons' target='_blank').btn.btn-sm.btn-primary View all

block page_styles
  style.
    .icons-preview {display:flex; flex-wrap:wrap}
    .icons-preview > .icon-item {
      height: 50px;
      line-height: 50px;
      width: 80px;
      font-size: 30px;
      background-color: #ebedee;
      margin: 5px;
      text-align: center;
    }
