extends ../layout

block variables
  - var pageTitle = 'Dashboard'
  - var pageUrl = 'index.html'

block plugins-styles
  +link('jvectormap/jquery-jvectormap-2.0.3.css','plugin')

block plugins
    +script('chart.js/dist/Chart.min.js', 'plugin')
    +script('jquery.easy-pie-chart/dist/jquery.easypiechart.min.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-2.0.3.min.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-world-mill-en.js', 'plugin')

block content
  .row.mb-4
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='73', data-bar-color='#18C5A9', data-size='80', data-line-width='8')
            span.easypie-data.text-success(style='font-size:32px')
              i.la.la-users
          div
            h3.font-strong.text-success 128
            .text-muted NEW CUSTOMERS
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='42', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
            span.easypie-data.font-26.text-primary
              i.ti-world
          div
            h3.font-strong.text-primary 6400
            .text-muted TODAY'S VISITS
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='70', data-bar-color='#ff4081', data-size='80', data-line-width='8')
            span.easypie-data.text-pink(style='font-size:32px')
              i.la.la-tags
          div
            h3.font-strong.text-pink 210
            .text-muted SUPPORT TICKETS
  .row
    .col-xl-8
      .ibox
        .ibox-body
          .d-flex.justify-content-between.mb-4
            div
              h3.m-0 Visitors Analytics
              div Your site visitors analytics
            ul.nav.nav-pills.nav-pills-rounded.nav-pills-air#chart_tabs
              li.nav-item.ml-1
                a.nav-link.active(data-toggle='tab' data-id='1' href='javascript:;') This Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='2' href='javascript:;') Last Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='3' href='javascript:;') Last Year
          div
            canvas#visitors_chart(style='height:260px;')
        hr
        .ibox-body
          .row
            .col-6.pl-4
              h6.mb-3 GENDER
              span.h2.mr-3
                i.fa.fa-male.text-primary.h1.mb-0.mr-2
                span
                  | 56
                  sup %
              span.h2.mr-3
                i.fa.fa-female.text-pink.h1.mb-0.mr-2
                span
                  | 32
                  sup %
              span.h2
                i.fa.fa-question.text-light.h1.mb-0.mr-2
                span
                  | 12
                  sup %
            .col-6
              h6.mb-3 SCREENS
              span.h2.mr-3
                i.ti-desktop.text-primary.mr-2
                span
                  | 49
                  sup %
              span.h2.mr-3
                i.ti-tablet.text-pink.mr-2
                span
                  | 29
                  sup %
              span.h2
                i.ti-mobile.text-success.mr-2
                span
                  | 22
                  sup %
    .col-lg-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title VISITORS AGE
          .ibox-tools
            a.dropdown-toggle(data-toggle="dropdown"): i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.la.la-upload
                | Export
              a.dropdown-item
                i.la.la-file-excel-o
                | Download
              a.dropdown-item
                i.la.la-print
                | Print
        .ibox-body
          .mb-5
            .flexbox-b.mb-2
              span.badge-point.badge-success.mr-2
              | 20-27
              span.h4.mb-0.ml-4 25%
            .flexbox-b.mb-2
              span.badge-point.badge-primary.mr-2
              | 35-50
              span.h4.mb-0.ml-4 22%
            .flexbox-b.mb-2
              span.badge-point.badge-pink.mr-2
              | 27-35
              span.h4.mb-0.ml-4 17%
          div.ibox-fullwidth-block
            canvas#age_chart(style='height:260px;')
  .row
    .col-xl-8
      .row
        .col-lg-6
          .ibox.ibox-fullheight
            .ibox-head
              .ibox-title VISITORS SCREENS
              .ibox-tools
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-desktop
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil.mr-2
                    | Create
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            .ibox-body
              div
                canvas#screens_chart(style='height:260px;')
        .col-lg-6
          .ibox.ibox-fullheight
            .ibox-head
              .ibox-title VISITORS BROWSERS
            .ibox-body
              ul.list-group.list-group-divider.list-group-full
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-chrome.mr-3.font-40
                    | Google Chrome
                  span.badge.badge-success.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-firefox.mr-3.font-40
                    | Mozila Firefox
                  span.badge.badge-primary.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-opera.mr-3.font-40
                    | Opera
                  span.badge.badge-pink.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-internet-explorer.mr-3.font-40
                    | Internet Explorer
                  span.badge.badge-info.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-safari.mr-3.font-40
                    | Safari
                  span.badge.badge-warning.badge-pill 34.7%
      .ibox
        .ibox-body
          .flexbox.mb-5
            .flexbox
              span.mr-4(style='width:60px;height:60px;background-color:#e7e9f6;color:#5c6bc0;display:inline-flex;align-items:center;justify-content:center;font-size:35px')
                i.ti-files
              div
                h5.font-strong TOP 5 PAGES
                .text-light Top 5 visited pages on your site.
            ul.nav.nav-pills.nav-pills-rounded.nav-pills-air
              li.nav-item.ml-1
                a.nav-link.active(href='#tab_1', data-toggle='tab') This Week
              li.nav-item.ml-1
                a.nav-link(href='#tab_2', data-toggle='tab') Last Week
              li.nav-item.ml-1
                a.nav-link(href='#tab_3', data-toggle='tab') This Month
          .tab-content
            #tab_1.tab-pane.fade.show.active
              .flexbox
                .text-center
                  .mb-3 Blog Catalog
                  .easypie(data-percent='44', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 44
                      sup %
                .text-center
                  .mb-3 Shop Catalog
                  .easypie(data-percent='28', data-bar-color='#18c5a9', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 28
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='9', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 9
                      sup %
                .text-center
                  .mb-3 Main Page
                  .easypie(data-percent='13', data-bar-color='#ff4081', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 13
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='6', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 6
                      sup %
            #tab_2.tab-pane.fade
              .flexbox
                .text-center
                  .mb-3 Blog Catalog
                  .easypie(data-percent='33', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 33
                      sup %
                .text-center
                  .mb-3 Shop Catalog
                  .easypie(data-percent='42', data-bar-color='#18c5a9', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 42
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='8', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 8
                      sup %
                .text-center
                  .mb-3 Main Page
                  .easypie(data-percent='11', data-bar-color='#ff4081', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 11
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='6', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 6
                      sup %
            #tab_3.tab-pane.fade
              .flexbox
                .text-center
                  .mb-3 Blog Catalog
                  .easypie(data-percent='41', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 41
                      sup %
                .text-center
                  .mb-3 Shop Catalog
                  .easypie(data-percent='32', data-bar-color='#18c5a9', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 32
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='10', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 10
                      sup %
                .text-center
                  .mb-3 Main Page
                  .easypie(data-percent='12', data-bar-color='#ff4081', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 12
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='5', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 5
                      sup %
    .col-lg-4 
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title NEW CUSTOMERS
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-user
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil.mr-2
                | Create
              a.dropdown-item
                i.ti-pencil-alt.mr-2
                | Edit
              a.dropdown-item
                i.ti-close.mr-2
                | Remove
        .ibox-body
          ul.media-list.media-list-divider.mr-2.scroller(data-height='580px')
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u8.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Lynn Weaver
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u6.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Connor Perez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u11.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Tyrone Carroll
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u10.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Stella Obrien
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u2.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Becky Brooks
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u5.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Bob Gonzalez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed
        
  +panel('VISITORS ANALYTICS')(tools={'menu':1}, boxClass='ibox-fullheight')
    #world-map(style='height: 400px')
  .row
    .col-xl-8  
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title SUPPORT TICKETS
          .ibox-tools
            a.dropdown-toggle.font-18(data-toggle='dropdown')
              i.ti-ticket
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil.mr-2
                | Create
              a.dropdown-item
                i.ti-pencil-alt.mr-2
                | Edit
              a.dropdown-item
                i.ti-close.mr-2
                | Remove
        .ibox-body
          ul.media-list.media-list-divider.scroller.mr-2(data-height='470px')
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') How to install new Adminca
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u11.jpg')(class='img-circle mr-2', width='22')
                    a.mr-2.text-success(href='javascript:;') Tyrone Carroll
                    span.text-muted 18 mins ago
                .text-right(style='width:100px;')
                  span.badge.badge-primary.badge-pill.mb-2 Open
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 2 reply
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') How to compile SaSS
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u10.jpg')(class='img-circle mr-2', width='22')
                    a.mr-2.text-success(href='javascript:;') Stella Obrien
                    span.text-muted 45 mins ago
                .text-right(style='width:100px;')
                  span.badge.badge-success.badge-pill.mb-2 Pending
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') I need help to update bower
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u6.jpg')(class='img-circle mr-2', width='22')
                    a.mr-2.text-success(href='javascript:;') Connor Perez
                    span.text-muted 1 hrs ago
                .text-right(style='width:100px;')
                  span.badge.badge-primary.badge-pill.mb-2 In Progress
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 2 reply
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') IE7 problem
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u2.jpg')(class='img-circle mr-2', width='22')
                    a.mr-2.text-success(href='javascript:;') Becky Brooks
                    span.text-muted 2 hrs ago
                .text-right(style='width:100px;')
                  span.badge.badge-success.badge-pill.mb-2 Pending
            li.media
              .media-body.d-flex
                .flex-1
                  h5.media-heading
                    a(href='javascript:;') I need help to install Adminca Angular
                  p.font-13.text-light.mb-1 Cillum in incididunt reprehenderit qui reprehenderit nulla
                  .d-flex.align-items-center.font-13
                    +img('users/u5.jpg')(class='img-circle mr-2', width='22')
                    a.mr-2.text-success(href='javascript:;') Bob Gonzalez
                    span.text-muted 2 days ago
                .text-right(style='width:100px;')
                  span.badge.badge-secondary.badge-pill.mb-2 Closed
                  div
                    small.text-muted.font-12
                      i.fa.fa-reply.mr-2
                      | 3 reply
    .col-lg-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title LOGS TIMELINE
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil
                | Create
              a.dropdown-item
                i.ti-pencil-alt
                | Edit
              a.dropdown-item
                i.ti-close
                | Remove
        .ibox-body
          ul.timeline.scroller(data-height='470px')
            li.timeline-item
              span.timeline-point
              | 2 Issue fixed
              small.float-right.text-muted.ml-2.nowrap Just now
            li.timeline-item
              span.timeline-point.bg-warning
              span
                | 7 new feedback
                span.badge.badge-warning.badge-pill.ml-2 important
              small.float-right.text-muted 5 mins
            li.timeline-item
              span.timeline-point.bg-primary
              span.flexbox
                | 25 new orders sent
                i.la.la-truck.font-16.ml-2.text-primary
              small.float-right.text-muted.ml-2.nowrap 24 mins
            li.timeline-item
              span.timeline-point
              | 12 New orders
              small.float-right.text-muted.ml-2.nowrap 45 mins
            li.timeline-item
              span.timeline-point.bg-warning
              | 18 new users registered
              small.float-right.text-muted.ml-2.nowrap 1 hrs
            li.timeline-item
              span.timeline-point
              span
                | Server Error
                span.badge.badge-success.badge-pill.ml-2 resolved
              small.float-right.text-muted 2 hrs
            li.timeline-item
              span.timeline-point.bg-primary
              span
                | System Warning
                a.text-primary.ml-2 Check
              small.float-right.text-muted.ml-2.nowrap 12:07
            li.timeline-item
              span.timeline-point.bg-warning
              | The invoice is ready
              small.float-right.text-muted.ml-2.nowrap 12:30
            li.timeline-item
              span.timeline-point.bg-primary
              | 5 New Orders
              small.float-right.text-muted.ml-2.nowrap 13:45
            li.timeline-item
              span.timeline-point
              span.flexbox
                | Production server up
                i.la.la-arrow-circle-up.font-18.ml-2.text-success
              small.float-right.text-muted.ml-2.nowrap 1 days ago
            li.timeline-item
              span.timeline-point
              | Server overloaded 91%
              small.float-right.text-muted.ml-2.nowrap 2 days ago
            li.timeline-item
              span.timeline-point.bg-warning
              | Server error
              small.float-right.text-muted.ml-2.nowrap 2 days ago
  .row
    .col-lg-8
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title
            span.btn-icon-only.btn-circle.bg-primary-50.text-primary.mr-3
              i.ti-email
            | Email distribution
        .ibox-body
          .flexbox.mb-4
            .flexbox
              span.flexbox.mr-3
                span.mr-2.text-muted Sent
                span.h3.mb-0.text-primary.font-strong 310
              span.flexbox
                span.mr-2.text-muted Queue
                span.h3.mb-0.text-pink.font-strong 105
            a.flexbox(href='javascript:;', target='_blank')
              | VIEW ALL
              i.ti-arrow-circle-right.ml-2.font-18
          .ibox-fullwidth-block
            table.table
              thead.thead-default.thead-lg
                tr
                  th.pl-4 Subject
                  th Quantity
                  th Reference
                  th.pr-4 Percent
              tbody
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-primary.font-20.mr-3 AC
                      div
                        h6.mb-1 Try New version of Adminca
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 1400
                  td
                    h4.font-strong.text-primary.mb-0 820
                  td.pr-4
                    .easypie(data-percent='59', data-bar-color='#5c6bc0', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 59%
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-pink.mr-3: i.ti-gift.font-20
                      div
                        h6.mb-1 Adminca Big Bundle 6 in 1
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 1250
                  td
                    h4.font-strong.text-pink.mb-0 575
                  td.pr-4
                    .easypie(data-percent='46', data-bar-color='#ff4081', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 46%
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-success.font-20.mr-3 LV
                      div
                        h6.mb-1 Adminca - Save your time, choose the best
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 1320
                  td
                    h4.font-strong.text-success.mb-0 554
                  td.pr-4
                    .easypie(data-percent='42', data-bar-color='#18c5a9', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 42%
                tr
                  td.pl-4
                    .flexbox-b
                      span.btn-icon-only.btn-warning.mr-3: i.ti-support.font-20
                      div
                        h6.mb-1 High Quality Support & Easy Code
                        div
                          span.text-muted.font-13
                            i.ti-calendar.mr-2
                            | 20.04.2018
                  td
                    h4.font-strong.text-light.mb-0 870
                  td
                    h4.font-strong.text-warning.mb-0 478
                  td.pr-4
                    .easypie(data-percent='56', data-bar-color='#f39c12', data-size='56', data-line-width='3')
                      span.easypie-data.h5.font-strong 56%
    .col-lg-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title TASKS
          .ibox-tools
            a.font-18
              i.ti-plus
        .ibox-body
          ul.list-group.list-group-divider.list-group-full.tasks-list
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox', checked='')
                  span.input-span
                  span.task-title Make Adminca the best and the most easy admin template
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Create Financial Report
              .task-data
                small.text-muted No due date
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox', checked='')
                  span.input-span
                  span.task-title Meeting with Ann
                span.badge.badge-warning.ml-1
                  i.ti-alarm-clock
                  |  1 hrs
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Edit the blog post
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send photos to Jack
                span.badge.badge-success.ml-1 Today
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send Financial Reports
                span.badge.badge-danger.ml-1 Important
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            li.list-group-item.task-item
              div
                label.checkbox.checkbox-grey.checkbox-success
                  input(type='checkbox')
                  span.input-span
                  span.task-title Send message to Bob
              .task-data
                small.text-muted 29 May 2018
              .task-actions
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-more-alt
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
    

block scripts
    +script('dashboard_visitors.js', 'page')
