extends ../layout

block variables
  - var pageTitle = 'Vector maps'
  - var pageUrl = 'maps_vector.html'
  - var page_heading = 'Vector maps'
  - var path = ['Maps', 'Vector maps']

block plugins-styles
    +link('jvectormap/jquery-jvectormap-2.0.3.css', 'plugin')

block plugins
    +script('jvectormap/jquery-jvectormap-2.0.3.min.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-world-mill-en.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-us-aea-en.js', 'plugin')

block scripts
  +script('jvectormap-demo.js', 'page')

block content
    .alert.alert-primary.alert-bordered
        p
            | jVectorMap is a vector-based, cross-browser and cross-platform component for interactive geography-related data visualization on the web. It provides numerious features like smooth zooming and panning, fully-customizable styling, markers, labels and tooltips.
        p
            a.btn.btn-primary(href='http://jvectormap.com/', target='_blank') Official Website
    .row
      .col-md-6
        +panel('World map')
          #world_map(style='height: 300px')
      .col-md-6
        +panel('USA map')
          #usa_map(style='height: 300px')
    +panel('World Map')
      #map_3(style='height: 400px')
