extends ../layout

block variables
  - var pageTitle = 'Statistics Widgets'
  - var pageUrl = 'widgets-statistics.html'

block plugins-styles
  +link('morris.js/morris.css','plugin')
  +link('jvectormap/jquery-jvectormap-2.0.3.css','plugin')

block plugins
    +script('chart.js/dist/Chart.min.js', 'plugin')
    +script('jquery.easy-pie-chart/dist/jquery.easypiechart.min.js', 'plugin')
    +script('jquery-sparkline/dist/jquery.sparkline.min.js', 'plugin')
    +script('morris.js/morris.min.js', 'plugin')
    +script('raphael/raphael.min.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-2.0.3.min.js', 'plugin')
    +script('jvectormap/jquery-jvectormap-world-mill-en.js', 'plugin')
    +script('peity/jquery.peity.min.js', 'plugin')

block content
  .row.mb-4
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='73', data-bar-color='#18C5A9', data-size='80', data-line-width='8')
            span.easypie-data.text-success(style='font-size:32px')
              i.la.la-users
          div
            h3.font-strong.text-success 128
            .text-muted NEW CUSTOMERS
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='42', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
            span.easypie-data.font-26.text-primary
              i.ti-world
          div
            h3.font-strong.text-primary 6400
            .text-muted TODAY'S VISITS
    .col-lg-4.col-md-6
      .card.mb-4
        .card-body.flexbox-b
          .easypie.mr-4(data-percent='70', data-bar-color='#ff4081', data-size='80', data-line-width='8')
            span.easypie-data.text-pink(style='font-size:32px')
              i.la.la-tags
          div
            h3.font-strong.text-pink 210
            .text-muted SUPPORT TICKETS
  .row
    .col-xl-8
      .ibox
        .ibox-body
          .d-flex.justify-content-between.m-b-20
            div
              h3.m-0 Visitors Analytics
              div Your site visitors analytics
            ul.nav.nav-pills.nav-pills-rounded.nav-pills-air#chart_tabs
              li.nav-item.ml-1
                a.nav-link.active(data-toggle='tab' data-id='1' href='javascript:;') This Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='2' href='javascript:;') Last Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='3' href='javascript:;') Last Year
          div
            canvas#visitors_chart(style='height:260px;')
        hr
        .ibox-body
          .row
            .col-6.pl-4
              h6.mb-3 GENDER
              span.h2.mr-3
                i.fa.fa-male.text-primary.h1.mb-0.mr-2
                span
                  | 56
                  sup %
              span.h2.mr-3
                i.fa.fa-female.text-pink.h1.mb-0.mr-2
                span
                  | 32
                  sup %
              span.h2
                i.fa.fa-question.text-light.h1.mb-0.mr-2
                span
                  | 12
                  sup %
            .col-6
              h6.mb-3 SCREENS
              span.h2.mr-3
                i.ti-desktop.text-primary.mr-2
                span
                  | 49
                  sup %
              span.h2.mr-3
                i.ti-tablet.text-pink.mr-2
                span
                  | 29
                  sup %
              span.h2
                i.ti-mobile.text-success.mr-2
                span
                  | 22
                  sup %
    .col-lg-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title VISITORS AGE
          .ibox-tools
            a.dropdown-toggle(data-toggle="dropdown"): i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.la.la-upload
                | Export
              a.dropdown-item
                i.la.la-file-excel-o
                | Download
              a.dropdown-item
                i.la.la-print
                | Print
        .ibox-body
          .mb-5
            .flexbox-b.mb-2
              span.badge-point.badge-success.mr-2
              | 20-27
              span.h4.mb-0.ml-4 25%
            .flexbox-b.mb-2
              span.badge-point.badge-primary.mr-2
              | 35-50
              span.h4.mb-0.ml-4 22%
            .flexbox-b.mb-2
              span.badge-point.badge-pink.mr-2
              | 27-35
              span.h4.mb-0.ml-4 17%
          div.ibox-fullwidth-block
            canvas#age_chart(style='height:260px;')
  .row
    .col-xl-8
      .ibox.ibox-fullheight
        .ibox-body
          .d-flex.justify-content-between.m-b-20
            div
              h3.m-0 Sales Analytics
              div Your shop sales analytics
            ul.nav.nav-pills.nav-pills-rounded.nav-pills-air#sales_tabs
              li.nav-item.ml-1
                a.nav-link.active(data-toggle='tab' data-id='1' href='javascript:;') This Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='2' href='javascript:;') Last Week
              li.nav-item.ml-1
                a.nav-link(data-toggle='tab' data-id='3' href='javascript:;') Last Year
          div
            canvas#sales_chart_1(style='height:260px;')
    .col-xl-4.col-lg-6
      .ibox.ibox-fullheight(style='min-height:400px')
        .ibox-head
          div
            .ibox-title Weekly Profit
            small.text-lighter 24.02 - 24.09
          .ibox-tools
            a.dropdown-toggle(data-toggle="dropdown"): i.ti-more-alt
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.la.la-upload
                | Export
              a.dropdown-item
                i.la.la-file-excel-o
                | Download
              a.dropdown-item
                i.la.la-print
                | Print
        .ibox-body
          .h1.mt-4
            | $32,400
            sup .60
            i.ti-stats-up.float-right.text-success(style='font-size:40px;')
          .text-lighter 26% Higher then last week
          div.abs-bottom
            canvas#revenue_chart(style='height:220px;')
  .row
    .col-xl-4
      .ibox.ibox-fullheight(style='min-height:480px;')
        .ibox-head
          .ibox-title SUBSCRIPTIONS
          .ibox-tools
            a.font-18(href='javascript:;')
              i.ti-control-record
        .ibox-body
          .flexbox.mb-3
            span.flexbox
              span.btn-icon-only.btn-circle.bg-primary-50.text-primary.mr-3
                i.ti-cup
              span BASIC PLAN
            span.h3.mb-0.text-primary.font-strong.ml-2 +1250
          .flexbox.mb-3
            span.flexbox
              span.btn-icon-only.btn-circle.bg-success-50.text-success.mr-3
                i.ti-briefcase
              span BUSINESS PLAN
            span.h3.mb-0.text-success.font-strong.ml-2 +890
          .flexbox.mb-3
            span.flexbox
              span.btn-icon-only.btn-circle.bg-pink-50.text-pink.mr-3
                i.ti-gift
              span EXPANDED PLAN
            span.h3.mb-0.text-pink.font-strong.ml-2 +720
          .abs-bottom
            canvas#subscriptions_chart(style='height:220px;')
    .col-xl-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title EARNINGS
          .ibox-tools
            a.font-18(href='javascript:;')
              i.ti-control-record
        .ibox-body
          .row.m-b-20
            .col-6.text-center(style='border-right: 1px solid rgba(0,0,0,.1);')
              .text-muted DAILY PROFIT
              .h2.text-success.mt-1 $540
            .col-6.text-center
              .text-muted SUBSCRIPTIONS
              .h2.text-success.mt-1 36
          .h1.mt-4
            | $7,400
            sup .60
            i.ti-stats-up.float-right.text-warning(style='font-size:40px;')
          .text-lighter 26% Higher then last week
          .mt-5.mb-5
            canvas#earnings_chart(style='height:100px;')
          .d-flex
            button.btn.btn-gradient-purple.mr-2 View More
            button.btn.btn-outline-secondary Print
    .col-xl-4
      .ibox.ibox-fullheight(style='min-height:480px;')
        .ibox-head
          .ibox-title Statistics
          .ibox-tools
            a.font-18(href='javascript:;')
              i.ti-control-record
        .ibox-body
          .row.align-items-center.mt-4.mb-4
            .col-md-6
              .easypie.centered(data-percent='73', data-bar-color='#18C5A9', data-size="120", data-line-width="8")
                span.easypie-data.h3.font-strong
                  | 73
                  sup %
            .col-md-6
              .mb-4.text-success
                i.ti-desktop.mr-2
                | Desktop 52%
              .mb-4.text-warning
                i.ti-tablet.mr-2
                | Tablet 27%
              .mb-.text-info
                i.ti-mobile.mr-2
                | Mobile 21%
          .d-flex.justify-content-between.mb-4
            .text-center
              .mb-1.text-success.h2 2400
              .text-muted PAGE VIEWS
            .text-center
              .mb-1.text-success.h2 $5200
              .text-muted MONTH INCOME
        .abs-bottom(style='background-color:#f3f6fb;')
          canvas#earnings_chart_2(style='height:100px;')
  .row
    .col-lg-8
      .row
        .col-lg-7
          .ibox.ibox-fullheight
            .ibox-body.bg-success
              h5.text-center.text-white.mb-3 Statistics
              div
                canvas#chart_a(style='height:180px')
            .ibox-body
              .text-lighter.mb-2 Lorem Ipsum is simply dummy text
              div
                span.h1.mr-3.text-success.font-40 72.5%
                span.text-lighter 34.5% Higher then last month
        .col-lg-5
          .ibox.ibox-fullheight
            .ibox-body.bg-pink
              h5.text-center.text-white.mb-3 Statistics
              div
                canvas#chart_b(style='height:180px')
            .ibox-body
              .text-lighter.mb-2 Lorem Ipsum is simply dummy text
              div
                span.h1.mr-3.text-pink.font-40 72.5%
                span.text-lighter 34.5% Higher
    .col-lg-4
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title Statistics
          .ibox-tools
            a.font-18(href='javascript:;')
              i.ti-control-record
        .ibox-body
          ul.media-list.media-list-divider
            li.media.flexbox
              div
                .media-heading.font-16 Earnings
                .font-13.text-light Lorem ipsum dolar set...
              h4.font-strong.mb-0.ml-3.text-primary +$1200
            li.media.flexbox
              div
                .media-heading.font-16 Orders
                .font-13.text-light Lorem ipsum dolar set...
              h4.font-strong.mb-0.ml-3.text-success +840
            li.media.flexbox
              div
                .media-heading.font-16 Visits
                .font-13.text-light Lorem ipsum dolar set...
              h4.font-strong.mb-0.ml-3.text-warning +24%
            li.media.flexbox
              div
                .media-heading.font-16 Customers
                .font-13.text-light Lorem ipsum dolar set...
              h4.font-strong.mb-0.ml-3.text-pink +725
  .row
    .col-xl-8
      .row
        .col-lg-6
          .ibox.ibox-fullheight
            .ibox-head
              .ibox-title VISITORS SCREENS
              .ibox-tools
                a.dropdown-toggle(data-toggle='dropdown')
                  i.ti-desktop
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item
                    i.ti-pencil.mr-2
                    | Create
                  a.dropdown-item
                    i.ti-pencil-alt.mr-2
                    | Edit
                  a.dropdown-item
                    i.ti-close.mr-2
                    | Remove
            .ibox-body
              div
                canvas#screens_chart(style='height:260px;')
        .col-lg-6
          .ibox.ibox-fullheight
            .ibox-head
              .ibox-title VISITORS BROWSERS
            .ibox-body
              ul.list-group.list-group-divider.list-group-full
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-chrome.mr-3.font-40
                    | Google Chrome
                  span.badge.badge-success.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-firefox.mr-3.font-40
                    | Mozila Firefox
                  span.badge.badge-primary.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-opera.mr-3.font-40
                    | Opera
                  span.badge.badge-pink.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-internet-explorer.mr-3.font-40
                    | Internet Explorer
                  span.badge.badge-info.badge-pill 34.7%
                li.list-group-item.flexbox
                  span.flexbox
                    i.la.la-safari.mr-3.font-40
                    | Safari
                  span.badge.badge-warning.badge-pill 34.7%
      .ibox
        .ibox-body
          .flexbox.mb-5
            .flexbox
              span.mr-4(style='width:60px;height:60px;background-color:#e7e9f6;color:#5c6bc0;display:inline-flex;align-items:center;justify-content:center;font-size:35px')
                i.ti-files
              div
                h5.font-strong TOP 5 PAGES
                .text-light Top 5 visited pages on your site.
            ul.nav.nav-pills.nav-pills-rounded.nav-pills-air
              li.nav-item.ml-1
                a.nav-link.active(href='#tab_1', data-toggle='tab') This Week
              li.nav-item.ml-1
                a.nav-link(href='#tab_2', data-toggle='tab') Last Week
              li.nav-item.ml-1
                a.nav-link(href='#tab_3', data-toggle='tab') This Month
          .tab-content
            #tab_1.tab-pane.fade.show.active
              .flexbox
                .text-center
                  .mb-3 Blog Catalog
                  .easypie(data-percent='44', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 44
                      sup %
                .text-center
                  .mb-3 Shop Catalog
                  .easypie(data-percent='28', data-bar-color='#18c5a9', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 28
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='9', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 9
                      sup %
                .text-center
                  .mb-3 Main Page
                  .easypie(data-percent='13', data-bar-color='#ff4081', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 13
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='6', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 6
                      sup %
            #tab_2.tab-pane.fade
              .flexbox
                .text-center
                  .mb-3 Blog Catalog
                  .easypie(data-percent='33', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 33
                      sup %
                .text-center
                  .mb-3 Shop Catalog
                  .easypie(data-percent='42', data-bar-color='#18c5a9', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 42
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='8', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 8
                      sup %
                .text-center
                  .mb-3 Main Page
                  .easypie(data-percent='11', data-bar-color='#ff4081', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 11
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='6', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 6
                      sup %
            #tab_3.tab-pane.fade
              .flexbox
                .text-center
                  .mb-3 Blog Catalog
                  .easypie(data-percent='41', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 41
                      sup %
                .text-center
                  .mb-3 Shop Catalog
                  .easypie(data-percent='32', data-bar-color='#18c5a9', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 32
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='10', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 10
                      sup %
                .text-center
                  .mb-3 Main Page
                  .easypie(data-percent='12', data-bar-color='#ff4081', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 12
                      sup %
                .text-center
                  .mb-3 Profile
                  .easypie(data-percent='5', data-bar-color='#5c6bc0', data-size='80', data-line-width='8')
                    span.easypie-data.h3.font-strong
                      | 5
                      sup %
    .col-lg-4 
      .ibox.ibox-fullheight
        .ibox-head
          .ibox-title NEW CUSTOMERS
          .ibox-tools
            a.dropdown-toggle(data-toggle='dropdown')
              i.ti-user
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item
                i.ti-pencil.mr-2
                | Create
              a.dropdown-item
                i.ti-pencil-alt.mr-2
                | Edit
              a.dropdown-item
                i.ti-close.mr-2
                | Remove
        .ibox-body
          ul.media-list.media-list-divider.mr-2.scroller(data-height='580px')
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u8.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Lynn Weaver
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u6.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Connor Perez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u11.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Tyrone Carroll
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u10.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Stella Obrien
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u2.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Becky Brooks
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-outline-secondary.btn-rounded Follow
            li.media.align-items-center
              a.media-img(href='javascript:;')
                +img('users/u5.jpg')(class='img-circle', width='54')
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading Bob Gonzalez
                  small.text-muted Lorem Ipsum is simply dummy
                button.btn.btn-sm.btn-primary.btn-rounded Followed
  h5.font-strong.mt-4.mb-4 SMALL WIDGETS
  .row
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          .card-title.m-0 Widget title
        div(style='background-color:#f3f6fb;')
          canvas#chart_1(style='height:100px;')
        .card-body.h3.d-flex.justify-content-between.m-0
          span $250
          i.ti-stats-up.text-success
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          .card-title.m-0 Widget title
        div(style='background-color:#f3f6fb;')
          canvas#chart_2(style='height:100px;')
        .card-body.h3.d-flex.justify-content-between.m-0
          span $74
          i.ti-stats-down.text-warning
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          .card-title.m-0 Widget title
        div(style='background-color:#f3f6fb;')
          canvas#chart_3(style='height:100px;')
        .card-body.h3.d-flex.justify-content-between.m-0
          span 14%
          i.ti-stats-down.text-danger
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          .card-title.m-0 Widget title
        div(style='background-color:#f3f6fb;')
          canvas#chart_4(style='height:100px;')
        .card-body.h3.d-flex.justify-content-between.m-0
          span 68%
          i.ti-stats-up.text-success
  hr.mb-5.mt-5
  .row
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          h2.m-b-5
            | $250 
            i.ti-stats-up.text-success.float-right
          .text-muted MONTH INCOME
        #spark_1 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          h2.m-b-5
            | $250 
            i.ti-stats-down.text-danger.float-right
          .text-muted MONTH INCOME
        #spark_2 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          h2.m-b-5
            | $250 
            i.ti-stats-up.text-success.float-right
          .text-muted MONTH INCOME
        #spark_3 Loading...
    .col-lg-3.col-md-6.m-b-20
      .card
        .card-body
          h2.m-b-5
            | $250 
            i.ti-stats-down.text-warning.float-right
          .text-muted MONTH INCOME
        #spark_4 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
  hr.mb-5.mt-5
  .row
    .col-lg-3.col-md-6.mb-4
      .card.bg-success
        .card-body
          h2.text-white
            | 510 
            i.ti-shopping-cart.float-right
          div MONTH ORDERS
          .text-white.mt-1
            i.ti-stats-up.mr-1
            small 25% higher than last month
        .progress.mb-2.widget-dark-progress
          .progress-bar(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
    .col-lg-3.col-md-6.mb-4
      .card.bg-primary
        .card-body
          h2.text-white
            | $2400 
            i.la.la-money.float-right
          div MONTH INCOME
          .text-white.mt-1
            span IOS
            span.ml-2
              i.fa.fa-caret-up.text-success
              |  14%
            span.ml-4 MAC
            span.ml-2
              i.fa.fa-caret-down.text-danger
              |  9%
        .progress.mb-2.widget-dark-progress
          .progress-bar(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
    .col-lg-3.col-md-6.mb-4
      .card.bg-danger
        .card-body
          h2.text-white
            | 510 
            i.ti-user.float-right
          div NEW USERS
          .text-white.mt-1
            span.badge.mr-1.widget-dark-badge 43%
            small Higher
        .progress.mb-2.widget-dark-progress
          .progress-bar(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
    .col-lg-3.col-md-6.mb-4
      .card.bg-secondary
        .card-body
          h2
            | 7200 
            i.ti-world.float-right
          div PAGE VEWS
          .text-white
            span IOS
            span.ml-2
              i.fa.fa-caret-up.text-success
              |  14%
            span.ml-4 MAC
            span.ml-2
              i.fa.fa-caret-down.text-danger
              |  9%
        .progress.mb-2.widget-dark-progress
          .progress-bar(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
  hr.mb-5.mt-5
  .row
    .col-lg-3.col-md-6.mb-4
      .card.bg-success
        .card-body
          h2.text-white.mb-1
            | $250 
            i.ti-stats-up.float-right
          div MONTH INCOME
        #spark_5 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
    .col-lg-3.col-md-6.mb-4
      .card.bg-primary
        .card-body
          h2.text-white.mb-1
            | $250 
            i.ti-stats-down.float-right
          div MONTH INCOME
        #spark_6 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
    .col-lg-3.col-md-6.mb-4
      .card.bg-info
        .card-body
          h2.text-white.mb-1
            | $250 
            i.ti-stats-up.float-right
          div MONTH INCOME
        #spark_7 Loading...
    .col-lg-3.col-md-6.mb-4
      .card.bg-warning
        .card-body
          h2.text-white.mb-1
            | $250 
            i.ti-stats-down.float-right
          div MONTH INCOME
        #spark_8 34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44
  hr.mb-5.mt-5
  .row
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 202
          .text-muted NEW USERS
          i.ti-user.widget-stat-icon.text-success
          .mt-1
            span.text-success.font-13.mr-1
              i.fa.fa-level-up
              |  +35%
            small than last week
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 605
          .text-muted NEW ORDERS
          i.ti-shopping-cart.widget-stat-icon.text-success
          .mt-1
            span.text-danger.font-13.mr-1
              i.fa.fa-level-down
              |  -12%
            small than last week
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 $5800
          .text-muted TOTAL INCOME
          i.la.la-money.widget-stat-icon.text-success
          .mt-1
            span.text-success.font-13.mr-1
              i.fa.fa-level-up
              |  +22%
            small than last week
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 405
          .text-muted PAGE VIEWS
          i.ti-world.widget-stat-icon.text-success
          .mt-1
            span.text-danger.font-13.mr-1
              i.fa.fa-level-up
              |  -17%
            small than last week
  .row
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 202
          .text-muted.mb-4 NEW USERS
          i.ti-user.widget-stat-icon.text-success
          .progress.mb-1
            .progress-bar.bg-success(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
          .d-flex.justify-content-between
            small Progress
            span.text-success.font-12
              i.fa.fa-level-up
              |  +24%
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 605
          .text-muted.mb-4 NEW ORDERS
          i.ti-shopping-cart.widget-stat-icon.text-success
          .progress.mb-1
            .progress-bar.bg-warning(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
          .d-flex.justify-content-between
            small Progress
            span.text-warning.font-12
              i.fa.fa-level-down
              |  -12%
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 $5800
          .text-muted.mb-4 TOTAL INCOME
          i.la.la-money.widget-stat-icon.text-success
          .progress.mb-1
            .progress-bar.bg-success(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
          .d-flex.justify-content-between
            small Progress
            span.text-success.font-12
              i.fa.fa-level-up
              |  +33%
    .col-lg-3.col-md-6
      .ibox
        .ibox-body
          h2.mb-1 405
          .text-muted.mb-4 PAGE VIEWS
          i.ti-world.widget-stat-icon.text-success
          .progress.mb-1
            .progress-bar.bg-danger(role='progressbar', style='width:50%; height:5px;', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
          .d-flex.justify-content-between
            small Progress
            span.text-danger.font-12
              i.fa.fa-level-down
              |  -22%
  hr.mb-5.mt-5
  .d-flex.flex-wrap.mb-5
    .static-widget.bg-pink.text-white
      i.ti-music-alt
      h4.m-0 124
      small MUSIC
    .static-widget.bg-primary.text-white
      i.ti-paint-bucket
      h4.m-0 47
      small COLORS
    .static-widget.bg-success
      i.ti-user
      h4.m-0 1,200
      small USERS
    .static-widget.bg-danger
      i.ti-heart
      h4.m-0 5,400
      small LIKES
    .static-widget.text-white(style='background-color:#34495f')
      i.ti-gift
      h4.m-0 34
      small GIFTS
    .static-widget.bg-info
      i.ti-shopping-cart
      h4.m-0 450
      small ORDERS
    .static-widget.bg-warning
      i.ti-camera
      h4.m-0 850
      small PHOTOS
    .static-widget.bg-secondary
      i.ti-bar-chart
      h4.m-0 120
      small CHARTS
  

block scripts
    +script('widgets-demo.js', 'page')
