.page-sidebar {
    background-color: #34495f
}

.page-brand {
    color: #fff;
    background-color: #4c6c8b
}

.side-menu > li a {
    color: #b4bcc8
}

.side-menu > li a:focus, .side-menu > li a:hover {
    color: #fff
}

.side-menu > li a.active {
    color: #fff
}

.side-menu > li:hover > a {
    color: #fff;
    background-color: #466280
}

.side-menu > li.active > a, .side-menu > li.active > a:focus, .side-menu > li.active > a:hover {
    color: #1abc9c;
    background-color: #466280
}

.side-menu > li .nav-2-level > ul {
    background-color: #34495f
}

.side-menu > li .nav-2-level > ul::before {
    border-right-color: #34495f
}

.side-menu > li .nav-3-level {
    background-color: #34495f
}

.page-sidebar {
    background-color: #253544
}

.header, .header .page-brand {
    background: #2b3c4e
}

.header .page-brand .brand-tip {
    color: #00f786
}

.header .sidebar-toggler .icon-bar {
    background-color: #b4bcc8
}

.header .sidebar-toggler:hover .icon-bar {
    background-color: #fff
}

.header .toolbar-icon:hover {
    background-color: rgba(0, 0, 0, .2)
}

.header .navbar-toolbar > li > a, .header .navbar-toolbar > li > a > i {
    color: #b4bcc8
}

.header .navbar-toolbar > li > a:hover, .header .navbar-toolbar > li > a:hover > i {
    color: #fff
}

.header .envelope-badge {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f75a5f
}

.side-menu > li.active > a, .side-menu > li.active > a:focus, .side-menu > li.active > a:hover {
    background-color: #374f65
}

.side-menu > li:hover > a {
    background-color: #374f65
}

.theme-config .theme-config-toggle {
    background-color: #f75a5f
}