extends ../../layout

block variables
  - var pageTitle = `${subject.name}`
  - var pageUrl = `/subjects`

block plugins
  +script('cronstrue/cronstrue.min.js', 'plugin')
  +script('cronstrue/cronstrue-i18n.min.js', 'plugin')

block page-header
  .page-header
    .ibox.flex-1
      .ibox-body
        .flexbox
          .flexbox-b
            .ml-4.mr-5
              div
                span.btn-icon-only.btn-lg.font-20.mr-3(style=`background-color: ${generateColor(subject.name)}`) #{subject.name.substring(0, 2)}
            div
              h4 #{subject.name}
              div
                span
                  span.badge.badge-primary.badge-circle.mr-2.mb-2.font-14(style='height:30px;width:30px')
                    i.fas.fa-university
                  | #{faculty.name}

block content
  .row
    .col-lg-5
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Informatii
          .row.mb-2
            .col-6.text-muted Anul:
            .col-6 #{subject.year}
          .row.mb-2
            .col-6.text-muted Semestrul:
            .col-6 #{subject.semester}
          .row.mb-2
            - const age = (new Date().getTime() - user.birthDate.getTime()) / 3.154e+10;
            .col-6.text-muted Orar:
            .col-6.cronstrue(data-cron=subject.timetable.cron)
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Profesor
          ul.media-list.media-list-divider.mr-2
            li.media.align-items-center
              span.btn-icon-only.btn-blue.font-20.mr-3
                | #{subject.professor.firstName.substring(0, 1)}#{subject.professor.lastName.substring(0, 1)}
              .media-body.d-flex.align-items-center
                .flex-1
                  .media-heading
                  a(href=`/users/${subject.professor._id.toHexString()}`) #{subject.professor.firstName} #{subject.professor.lastName}
    .col-lg-7
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Teme
          if assignments && assignments.length
            each assignment in assignments
              a.card(href=`/assignments/${assignment._id.toHexString()}`)
                .card-body.flexbox.border-success
                  i.fas.fa-book-open.fa-2x.mr-2
                  .text-center.ml-2.mr-2
                    h6.mb-1 #{assignment.name}
                  .text-right.mr-2
                    | #{assignment.deadline.toLocaleString()}
          else
            h5.text-center Nu exista teme

block scripts
  script.
    // Cronstrue
    const crons = $(".cronstrue");

    crons.each(function () {
      const query = $(this).data('cron');

      if (query) {
        const translation = cronstrue.toString(query, { locale: "ro" });
        $(this).html(translation);
      }
    });