extends ../../layout

block variables
  - var pageTitle = `Materii`
  - var pageUrl = `/subjects`

block content
  .row
    if subjects && subjects.length > 0
      each subject in subjects
        .col-md-6
          .ibox.ibox-fullheight
            .ibox-body
              a.card(href=`/subjects/${subject._id}`)
                .flexbox.border-success
                  span.btn-icon-only.btn-lg.font-20.mr-3(style=`background-color: ${generateColor(subject.name)}`) #{subject.name.substring(0, 2)}
                  .text-center.mr-2.ml-2
                    h6.mb-1 #{subject.name}
                  .text-right
                    if subject.professor
                      h6.text-primary.m-0 #{subject.professor.firstName} #{subject.professor.lastName}
    else
      .col-md-12
        .ibox.ibox-fullheight
          .ibox-body
            h3.text-center Nu exista materii
