footer.page-footer
  .font-13
    | #{new Date().getFullYear()} ©
    b EmmaTravel
  div
    a(href="/public/politica-confidentialitate.html", target='_blank').px-3.pl-4 Politica de confidentialitate
  div.to-top
    i.fa.fa-angle-double-up
