header.header
  .header-topbar
    .d-flex.justify-content-between
      .page-brand
        a(href=HOME.url).link
          span.brand Virtual
          span.brand-tip Classroom
      // START TOP-RIGHT TOOLBAR
      ul.nav.navbar-toolbar
        include header/user.pug
      // END TOP-RIGHT TOOLBAR
