extends ../../layout

block variables
  - var pageTitle = `${user.firstName} ${user.lastName}`
  - var pageUrl = `/users/${user._id}`

block page-header
  .page-header
    .ibox.flex-1
      .ibox-body
        .flexbox
          .flexbox-b
            .ml-4.mr-5
              div
                i.fas.fa-user-graduate.fa-5x
            div
              h4 #{user.firstName} #{user.lastName}
              div
                span
                  span.badge.badge-primary.badge-circle.mr-2.mb-2.font-14(style='height:30px;width:30px')
                    i.fas.fa-university
                  | #{faculty.name}
                br
                span
                  span.badge.badge-blue.badge-circle.mr-2.font-14(style='height:30px;width:30px')
                    i.fas.fa-user-friends
                  | #{group.name}

block content
  .row
    .col-lg-5
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Informatii personale
          .row.mb-2
            .col-6.text-muted Nume:
            .col-6 #{user.firstName}
          .row.mb-2
            .col-6.text-muted Prenume:
            .col-6 #{user.lastName}
          .row.mb-2
            - const age = (new Date().getTime() - user.birthDate.getTime()) / 3.154e+10;
            .col-6.text-muted Varsta:
            .col-6 #{Math.floor(age)}
          .row.mb-2
            .col-6.text-muted Facultate:
            .col-6 #{faculty.name}
          .row.mb-2
            .col-6.text-muted Grupa:
            .col-6 #{group.name}
          .row.mb-2
            - const year = new Date().getFullYear() - user.startYear + 1;
            .col-6.text-muted An:
            .col-6 #{year}
          .row.mb-2
            .col-6.text-muted Nr. Telefon:
            .col-6 #{user.phone}
          .row.mb-2
            .col-6.text-muted Email:
            .col-6 #{user.email}
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Colegi
          - const students = group.students.filter((s) => s._id.toHexString() !== user._id.toHexString());
            if students.length
              ul.media-list.media-list-divider.mr-2
                each student in students
                  li.media.align-items-center
                    span.btn-icon-only.btn-blue.font-20.mr-3
                      | #{student.firstName.substring(0,1)}#{student.lastName.substring(0,1)}
                    .media-body.d-flex.align-items-center
                      .flex-1
                        .media-heading
                          a(href=`/users/${student._id.toHexString()}`) #{student.firstName} #{student.lastName}
                        small.text-muted #{group.name}
            else
              h6.text-center Niciun coleg
    .col-lg-7
      .ibox
        .ibox-body
          h5.font-strong.mb-4 Materii
          each subject in faculty.subjects
            - const timetable = subject.getTimetable();
            - const pastCourses = timetable.filter(t => t.getTime() < new Date().getTime());
            - const nextCourses = timetable.filter(t => t.getTime() > new Date().getTime());
            - const completedAssignments = assignmentSolutions.filter(as => !!subject.assignments.find(a => a == as.assignment));
            .flexbox-b.mb-4
              span.btn-icon-only.font-20.mr-3(style=`background-color: ${generateColor(subject.name)}`) #{subject.name.substring(0, 2)}
              .flex-1
                .font-strong.font-16
                  a(href=`/subjects/${subject._id.toHexString()}`) #{subject.name}
                  if nextCourses.length
                    - const nextCourse = nextCourses[0];
                    small.text-muted.float-right #{nextCourse.toLocaleString()}
                .text-muted An #{subject.year} | Semestru #{subject.semester}
            .row.mb-4
              .col-6.flexbox-b
                i.la.la-calendar-check-o.font-26.text-light.mr-3
                .flex-1
                  div
                    span.text-light.mr-3 Cursuri:
                    | #{pastCourses.length} / #{timetable.length}
                  .progress.mt-1
                    .progress-bar(role='progressbar', style=`width:${pastCourses.length * 100 / timetable.length}%; height:5px;`, aria-valuenow=`${pastCourses.length * 100 / timetable.length}`, aria-valuemin='0', aria-valuemax='100')
              .col-6.flexbox-b
                i.la.la-hourglass-1.font-26.text-light.mr-3
                .flex-1
                  div
                    span.text-light.mr-3 Teme:
                    if subject.assignments.length === 0
                      | #{subject.assignments.length}
                    else
                      | #{completedAssignments.length} / #{subject.assignments.length}
                  .progress.mt-1
                    .progress-bar.bg-success(role='progressbar', style=`width:${completedAssignments.length * 100 / subject.assignments.length}%; height:5px;`, aria-valuenow=`${completedAssignments.length * 100 / subject.assignments.length}`, aria-valuemin='0', aria-valuemax='100')
