extends ../../layout-simple.pug

block variables
  - var pageTitle = 'Eroare 403'

block content
  .error-content.flexbox
    span.error-icon
    .flex-1
      h1.error-code 403
      h3.font-strong INTERZIS
      if message
        p.mb-4 #{message}
      else
        p.mb-4 Accesul la aceasta resursa nu este permis
      div
        a.text-primary(href="/") Acasa

block page_styles
  style.
    body {
      background-color: #fff;
      background-repeat: no-repeat;
      background-image: url(/public/assets/img/icons/user-lock-2.svg);
      background-position: 80% 10px;
    }
    .error-content {
      max-width: 620px;
      margin: 200px auto 0;
    }
    .error-icon {
      height: 160px;
      width: 160px;
      background-image: url(/public/assets/img/icons/user-lock.svg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 80px;
    }
    .error-code {
      font-size:120px;
      color: #5c6bc0;
    }
