extends ../../layout-simple.pug

block variables
  - var pageTitle = 'Eroare 404'

block content
  .error-content
    .flexbox
      span.error-icon
      .flex-1
        h1.error-code 404
        h3.font-strong NU EXISTA
        if message
          p.mb-4 #{message}
        else
          p.mb-4 Resursa aceasta nu exista
        div
          a.text-primary(href="/") Acasa

block page_styles
  style.
    body {
      background-color: #fff;
      background-repeat: no-repeat;
      background-image: url(/public/assets/img/icons/search-document-3.svg);
      background-position: 80% 0;
    }
    .error-content {
      max-width: 620px;
      margin: 200px auto 0;
    }
    .error-icon {
      height: 160px;
      width: 160px;
      background-image: url(/public/assets/img/icons/search-document.svg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 80px;
    }
    .error-code {
      font-size:120px;
      color: #5c6bc0;
    }
